<div class="card col s12 m6 l6 hoverable">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="/templates/template<%=template.id%>.jpg">
  </div>
  <div class="card-content">
    <center class="card-title activator grey-text text-darken-2 bolder relative templateTitle" style="margin-bottom: 0px;">
      <span><%=template.name%></span>
      <i class="material-icons right hide-on-med-and-down">more_vert</i>
    </center>
    <center>
      <% if template.premium? %>
      <div class="grey-text text-darken-2 bold premiumTemplate">Premium</div>
      <% else %>
      <div class="grey-text text-darken-2 bold">Free</div>
      <% end %>
    </center>
    <center>
      <% if template.loop_video? %>
        <a href="/loop_videos/new?template=<%=template.id%>" class="btn">Try now</a>
      <% elsif template.url_video? %>
        <a href="/url_videos/new?template=<%=template.id%>" class="btn">Try now</a>
      <% end %>
    </center>
  </div>
  <div class="card-reveal" style="text-align: center;">
    <span class="card-title grey-text text-darken-2 bolder"><span class="relative" style="left: 20px;">Features</span><i class="material-icons right">close</i></span>
    <div class="collection flexbox-verical">
      <% template.features.each do |feature| %>
        <a class="collection-item grey-text text-darken-2">
          <%=feature.description%>
        </a>
      <%end%>
    </div>
  </div>
</div>