<% if @pages.count==0 %>
  <div class="card valign-wrapper center" style="height: 280px;">
    <div class="valign container">
      <h4 class="row red-text"> Sorry! But you do not own any Facebook page.</h4>
      <h4 class="row red-text">You have to be editor or admin of atleast one facebook page to proceed further. </h4>
    </div>
  </div>
<% else %>
  <div class="grey-text text-darken-2 bolder center" style="font-size: 26px;">Video Details</div>
  <div class="note white-text">This plugin will stream your video in a loop so that video starts again as soon as it ends for the selected time duration.</div>
  <div class="note white-text">Make sure that you do not upload any copyrighted content without permission otherwise your post will be deleted by facebook. Also, videos with bad encoding may not be posted properly.</div>
  <div class="note white-text">Scheduling time of post is in <a href="http://www.thetimezoneconverter.com/" target="_blank">UTC time format</a></div>
  <div class="row container white z-depth-4" style="padding: 40px 40px 50px 40px;">
  <%= form_for(@post,:url => url_for(:controller => 'loop_videos', :action => 'create'),html: {class: "col s12"}) do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row" style="margin-bottom: 0px;">
      <div class="input-field col s12 l6">
        <%= f.text_field :title, required: true%>
        <%= f.label "Title" %>
      </div>
      <div class="input-field col s12 l6">
        <%=  f.time_select :duration, {start_hour: 0 , end_hour: 3, default:{hour: 0, minute: 30}, time_separator: ""},{class: 'col s6'}%>
        <%= f.label "Duration ( hrs : min )" %>
      </div>
    </div>
    
    <div class="row">
        <div class="input-field col s12">
          <textarea id="post_caption" name="post[caption]" class="materialize-textarea" style="margin: 0px;"></textarea>
          <label for="textarea1">Caption</label>
        </div>
    </div>

    <div class="row">
      <div class="input-field col s12 l6">
        <input type="checkbox" id="schedule" name="post[scheduled]"/>
        <label for="schedule">Schedule Post</label>
      </div>  
      <div id="datetime" class="input-field col s12 l6" style="display: none;">
        <%= f.datetime_select :start_time,{discard_year: true, datetime_separator: "",time_separator: "", ampm: true},{class: "col s6 l3"}%>
        <%= f.label "Scheduled Date and Time in UTC Time Zone" %>
      </div>
    </div>

    <div class="row">
      <div class="file-field input-field col s12 m6 l6">
        <div class="btn">
          <span>Video</span>
          <%= f.file_field :video, {class: 'file_select', onchange: "validateVideoFiles(this);", data: { max_file_size: 2500.megabytes}, required: true }%>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>

     <div class="input-field col s12 m6 l6">
        <%=  f.select(:page_id, options_for_select(@pages.map { |obj| [obj['name'], obj['id'], {class: "left circle", "data-icon" => obj['image']}] }),{},{class: 'icons'}) %>
        <%= f.label "Select Page" %>
      </div>
    </div>
    
    <div class="row">
      <%= f.submit "Submit", {class: "col s12 btn",data: {:confirm => 'Are you sure?'} }%>
    </div>
  <% end %>
  </div>


  <script>
    $(document).ready(function() {
      $('select').material_select();

      $('#schedule').click(function(){
        if( $(this).is(':checked') )
          $('#datetime').slideDown(300);
        else
          $('#datetime').slideUp(300);
      });
    });
  </script>
<% end %>