<html>
  <head>
    <title>Frame Page</title>
    <meta http-equiv="Content-Type" content="text/html">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="de,fr,it,en,hi,pa"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  
  <body>
    <% if Rails.env.production? %>
    <audio controls loop autoplay preload="auto">
      <source src="<%= post.audio.url %>" type="audio/ogg">
      <source src="<%= post.audio.url %>" type="audio/mpeg">
    </audio>
    <% else %>
    <audio controls loop autoplay preload="auto">
      <source src="audio.aac" type="audio/ogg">
      <source src="audio.aac" type="audio/mpeg">
    </audio>
    <% end %>
    <% if post.user.member? %>
    <div class="random" style="position: absolute; z-index: 100000; opacity: 0.9;">
      <b style="position: absolute; z-index: 100000;">
        <img style="position: absolute; z-index: 100000;" src="../../../small_logo.png" width="80" height="40"">
      </b>
    </div>
    <% end %>
    <div class="container">
      <div class="sky">
        <div class="stars"></div>
        <div class="stars1"></div>
        <div class="stars2"></div>
      </div>
    </div>

    <div class="wrapper">
      <center><h1 class="title"><%=post.title%></h1></center>
      <img src="<%=ENV['prefix']%><%=images[0].file.url %>" width="180px" height="180px" style="position: absolute; top: 120px; left: 0px; border: 10px solid white; -webkit-transform: rotate(-7deg);">
      <img src="<%=ENV['prefix']%><%= images[1].file.url %>" width="180px" height="180px" style="position: absolute; top: 120px; left: 200px; border: 10px solid white; -webkit-transform: rotate(13deg);">
      <img src="<%=ENV['prefix']%><%= images[2].file.url %>" width="180px" height="180px" style="position: absolute; top: 120px; left: 390px; border: 10px solid white; -webkit-transform: rotate(-16deg);">
      <img src="<%=ENV['prefix']%><%= images[3].file.url %>" width="180px" height="180px" style="position: absolute; top: 120px; left: 590px; border: 10px solid white; -webkit-transform: rotate(19deg);">
      <img src="../../../reactions/<%=images[0].reaction%>.gif" width="70px" class="reactionImage" style="position: absolute; top: 310px; left: 80px;">
      <img src="../../../reactions/<%=images[1].reaction%>.gif" width="70px" class="reactionImage" style="position: absolute; top: 310px; left: 270px;">
      <img src="../../../reactions/<%=images[2].reaction%>.gif" width="70px" class="reactionImage" style="position: absolute; top: 310px; left: 460px;">
      <img src="../../../reactions/<%=images[3].reaction%>.gif" width="70px" class="reactionImage" style="position: absolute; top: 310px; left: 650px;">
      <div class="counter <%=images[0].reaction%>" style="position: absolute; top: 385px; left: 25px;">
        <center>
          <div style="font-size: 30px;" id="<%=images[0].reaction%>">0</div>
        </center>
      </div>
      <div class="counter <%=images[1].reaction%>" style="position: absolute; top: 385px; left: 215px;">
        <center>  
          <div style="font-size: 30px;" id="<%=images[1].reaction%>">0</div>
        </center>
      </div>
      <div class="counter <%=images[2].reaction%>" style="position: absolute; top: 385px; left: 405px;">
        <center>
          <div style="font-size: 30px;" id="<%=images[2].reaction%>">0</div>
        </center>
      </div>
      <div class="counter <%=images[3].reaction%>" style="position: absolute; top: 385px; left: 595px;">
        <center>
          <div style="font-size: 30px;" id="<%=images[3].reaction%>">0</div>
        </center>
      </div>
    </div>
    <script>
        var postID = "<%= post.video_id %>";
        var access_token = "<%=post.page_access_token%>";
        var refreshTime = 3;
        var defaultCount = 0;
        var reactions = ['LIKE', 'LOVE', 'WOW', 'HAHA', 'SAD', 'ANGRY'].map(function (e) {
          var code = 'reactions_' + e.toLowerCase();
          return 'reactions.type(' + e + ').limit(0).summary(total_count).as(' + code + ')'
        }).join(',');
        var	v1 = $("#<%=images[0].reaction%>"),
        	v2 = $("#<%=images[1].reaction%>"),
            v3 = $("#<%=images[2].reaction%>"),
        	v4 = $("#<%=images[3].reaction%>");
        function refreshCounts() {
            var url = 'https://graph.facebook.com/v2.8/?ids=' + postID + '&fields=' + reactions + '&access_token=' + access_token;
        	$.getJSON(url, function(res){
        		v1.text(defaultCount + res[postID].reactions_<%=images[0].reaction%>.summary.total_count);
        		v2.text(defaultCount + res[postID].reactions_<%=images[1].reaction%>.summary.total_count);
        		v3.text(defaultCount + res[postID].reactions_<%=images[2].reaction%>.summary.total_count);
        		v4.text(defaultCount + res[postID].reactions_<%=images[3].reaction%>.summary.total_count);
        	});
        }
        $(document).ready(function(){
            setInterval(refreshCounts, refreshTime * 1000);
            refreshCounts();
        });
    </script>
    
    <style>
    * {
      cursor: none;
      padding: 0;
      margin: 0;
    }
    
    audio
    {
      display: none;
    }
    /* cyrillic-ext */
		@font-face {
		  font-family: 'Merriweather';
		  font-style: normal;
		  font-weight: 400;
		  src: local('Merriweather'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v15/RFda8w1V0eDZheqfcyQ4EK-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
		  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
		}
		/* cyrillic */
		@font-face {
		  font-family: 'Merriweather';
		  font-style: normal;
		  font-weight: 400;
		  src: local('Merriweather'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v15/RFda8w1V0eDZheqfcyQ4EJX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
		  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
		}
		/* latin-ext */
		@font-face {
		  font-family: 'Merriweather';
		  font-style: normal;
		  font-weight: 400;
		  src: local('Merriweather'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v15/RFda8w1V0eDZheqfcyQ4ED0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
		  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
		}
		/* latin */
		@font-face {
		  font-family: 'Merriweather';
		  font-style: normal;
		  font-weight: 400;
		  src: local('Merriweather'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v15/RFda8w1V0eDZheqfcyQ4EOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
		  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
		}
		.random b {
      position: absolute;
      display: block;
      z-index: 100000;
      -webkit-animation: moveX 14s linear 0s infinite alternate, moveY 13.4s linear 0s infinite alternate;
      -moz-animation: moveX 14s linear 0s infinite alternate, moveY 13.4s linear 0s infinite alternate;
      -o-animation: moveX 14s linear 0s infinite alternate, moveY 13.4s linear 0s infinite alternate;
      animation: moveX 14s linear 0s infinite alternate, moveY 13.4s linear 0s infinite alternate;
    }

    @-webkit-keyframes moveX {
      from { left: 0; } to { left: 705px; }
    }
    @-moz-keyframes moveX {
      from { left: 0; } to { left: 705px; }
    }
    @-o-keyframes moveX {
      from { left: 0; } to { left: 705px; }
    }
    @keyframes moveX {
      from { left: 0; } to { left: 705px; }
    }
    @-webkit-keyframes moveY {
      from { top: 0; } to { top: 395px; }
    }
    @-moz-keyframes moveY {
      from { top: 0; } to { top: 395px; }
    }
    @-o-keyframes moveY {
      from { top: 0; } to { top: 395px; }
    }
    @keyframes moveY {
      from { top: 0; } to { top: 395px; }
    }
    body{
    font-family: 'Merriweather', serif;
    }
    html {
      height: 450px;
    }
    html body {
      width: 800px;
      height: 450px;
      margin: 0;
      overflow: hidden;
    }

    .container {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, #020107 0%, #201b46 100%);
    }

    .stars {
      width: 1px;
      height: 1px;
      border-radius: 50%;
      background: transparent;
      box-shadow: 407px 938px #FFF , 582px 2067px #FFF , 2356px 172px #FFF , 296px 1779px #FFF , 446px 2305px #FFF , 2432px 1231px #FFF , 745px 817px #FFF , 1962px 1284px #FFF , 1678px 1925px #FFF , 285px 914px #FFF , 1509px 808px #FFF , 1812px 314px #FFF , 1290px 2455px #FFF , 2480px 411px #FFF , 251px 2502px #FFF , 1920px 776px #FFF , 1947px 1669px #FFF , 1176px 872px #FFF , 1051px 1472px #FFF , 486px 1450px #FFF , 1581px 1064px #FFF , 431px 1768px #FFF , 1570px 5px #FFF , 926px 1576px #FFF , 1917px 2102px #FFF , 272px 1654px #FFF , 1035px 1925px #FFF , 1413px 2173px #FFF , 870px 2393px #FFF , 262px 369px #FFF , 954px 1316px #FFF , 2457px 488px #FFF , 1475px 1353px #FFF , 225px 2095px #FFF , 845px 2082px #FFF , 1498px 588px #FFF , 1259px 74px #FFF , 2191px 1931px #FFF , 1290px 197px #FFF , 616px 2388px #FFF , 869px 1043px #FFF , 1673px 29px #FFF , 2214px 1118px #FFF , 1224px 2219px #FFF , 1180px 1031px #FFF , 2259px 2284px #FFF , 1612px 2233px #FFF , 1046px 1242px #FFF , 1396px 356px #FFF , 1657px 1427px #FFF , 1118px 691px #FFF , 1205px 1789px #FFF , 2359px 2027px #FFF , 1595px 2419px #FFF , 2531px 1407px #FFF , 953px 2333px #FFF , 616px 1774px #FFF , 1156px 2285px #FFF , 2188px 1207px #FFF , 643px 1726px #FFF , 663px 1271px #FFF , 357px 1780px #FFF , 148px 1129px #FFF , 2243px 956px #FFF , 1987px 180px #FFF , 2328px 1266px #FFF , 2533px 2352px #FFF , 57px 1202px #FFF , 1873px 2554px #FFF , 812px 458px #FFF , 843px 1655px #FFF , 1723px 1841px #FFF , 873px 1278px #FFF , 710px 2168px #FFF , 1065px 1997px #FFF , 2086px 1419px #FFF , 62px 1581px #FFF , 1476px 1521px #FFF , 2108px 955px #FFF , 375px 2355px #FFF , 14px 683px #FFF , 1916px 2176px #FFF , 1504px 989px #FFF , 692px 729px #FFF , 1933px 2448px #FFF , 2271px 150px #FFF , 727px 1274px #FFF , 1828px 994px #FFF , 2150px 2147px #FFF , 1160px 596px #FFF , 2523px 831px #FFF , 2499px 1189px #FFF , 2478px 2443px #FFF , 15px 2033px #FFF , 2280px 2175px #FFF , 2111px 444px #FFF , 1416px 1108px #FFF , 636px 1053px #FFF , 2496px 1613px #FFF , 1244px 269px #FFF , 507px 533px #FFF , 2456px 1168px #FFF , 1369px 2242px #FFF , 1094px 356px #FFF , 2031px 823px #FFF , 1699px 1741px #FFF , 508px 2532px #FFF , 913px 70px #FFF , 1161px 1780px #FFF , 1889px 422px #FFF , 1188px 872px #FFF , 275px 516px #FFF , 2211px 2286px #FFF , 217px 387px #FFF , 2395px 727px #FFF , 1868px 451px #FFF , 2551px 1743px #FFF , 1655px 564px #FFF , 2387px 1570px #FFF , 2059px 2481px #FFF , 1583px 2556px #FFF , 1177px 280px #FFF , 45px 1047px #FFF , 107px 9px #FFF , 764px 1432px #FFF , 1390px 2120px #FFF , 948px 1340px #FFF , 1900px 1395px #FFF , 1006px 770px #FFF , 1577px 160px #FFF , 1838px 2138px #FFF , 1422px 19px #FFF , 1108px 2154px #FFF , 1758px 1227px #FFF , 650px 1494px #FFF , 1440px 845px #FFF , 1369px 825px #FFF , 474px 1338px #FFF , 2246px 1446px #FFF , 47px 91px #FFF , 1437px 2279px #FFF , 886px 727px #FFF , 51px 794px #FFF , 1084px 951px #FFF , 140px 2454px #FFF , 1555px 1193px #FFF , 1801px 1283px #FFF , 993px 290px #FFF , 546px 2101px #FFF , 1126px 2150px #FFF , 2177px 849px #FFF , 2486px 2210px #FFF , 894px 823px #FFF , 2147px 785px #FFF , 914px 2390px #FFF , 503px 1403px #FFF , 1007px 613px #FFF , 575px 1393px #FFF , 2409px 1431px #FFF , 2246px 608px #FFF , 1260px 651px #FFF , 1749px 1854px #FFF , 1126px 1859px #FFF , 1854px 1364px #FFF , 2192px 1916px #FFF , 1589px 457px #FFF , 270px 2539px #FFF , 1355px 1339px #FFF , 1428px 2163px #FFF , 1823px 1354px #FFF , 141px 579px #FFF , 1138px 530px #FFF , 217px 434px #FFF , 137px 159px #FFF , 480px 148px #FFF , 280px 1054px #FFF , 800px 1497px #FFF , 2056px 2154px #FFF , 591px 1096px #FFF , 2020px 1605px #FFF , 2467px 1962px #FFF , 2428px 2097px #FFF , 213px 216px #FFF , 582px 2502px #FFF , 2069px 2148px #FFF , 1347px 2046px #FFF , 30px 2002px #FFF , 1515px 1627px #FFF , 982px 171px #FFF , 1454px 2031px #FFF , 277px 2020px #FFF , 1269px 385px #FFF , 1879px 1280px #FFF , 374px 1541px #FFF , 1368px 996px #FFF , 1567px 1493px #FFF , 1456px 1281px #FFF , 452px 1418px #FFF , 1488px 1157px #FFF , 1012px 2051px #FFF , 714px 431px #FFF , 797px 2232px #FFF , 2389px 1540px #FFF , 1830px 2050px #FFF , 2057px 156px #FFF , 2496px 320px #FFF , 1540px 724px #FFF , 2290px 2492px #FFF , 1977px 1870px #FFF , 802px 1149px #FFF , 832px 239px #FFF , 1718px 188px #FFF , 996px 701px #FFF , 281px 2394px #FFF , 720px 1302px #FFF , 1195px 1338px #FFF , 2394px 493px #FFF , 1084px 515px #FFF , 867px 2093px #FFF , 1645px 1417px #FFF , 625px 166px #FFF , 108px 550px #FFF , 504px 1174px #FFF , 1517px 1692px #FFF , 2361px 293px #FFF , 3px 1316px #FFF , 1865px 931px #FFF , 353px 2280px #FFF , 1747px 197px #FFF , 2505px 856px #FFF , 1335px 622px #FFF , 2026px 1675px #FFF , 2174px 1438px #FFF , 2327px 1244px #FFF , 1204px 853px #FFF , 263px 636px #FFF , 1459px 1763px #FFF , 2315px 960px #FFF , 1881px 2278px #FFF , 2324px 995px #FFF , 1909px 1104px #FFF , 1765px 48px #FFF , 188px 1799px #FFF , 1531px 2366px #FFF , 2211px 210px #FFF , 114px 1024px #FFF , 608px 1795px #FFF , 618px 1248px #FFF , 369px 2012px #FFF , 2414px 1725px #FFF , 232px 830px #FFF , 36px 902px #FFF , 244px 2544px #FFF , 1992px 262px #FFF , 2159px 1478px #FFF , 2397px 71px #FFF , 1868px 2222px #FFF , 73px 2538px #FFF , 87px 1114px #FFF , 191px 1575px #FFF , 1959px 2311px #FFF , 2065px 1355px #FFF , 559px 2151px #FFF , 1329px 655px #FFF , 2032px 21px #FFF , 2175px 154px #FFF , 630px 1638px #FFF , 816px 1755px #FFF , 2263px 1680px #FFF , 762px 738px #FFF , 1627px 2080px #FFF , 979px 587px #FFF , 1132px 730px #FFF , 769px 2054px #FFF , 1380px 281px #FFF , 599px 2276px #FFF , 818px 535px #FFF , 313px 1874px #FFF , 2072px 1774px #FFF , 2493px 523px #FFF , 36px 326px #FFF , 1419px 1025px #FFF , 2376px 1306px #FFF , 2346px 1972px #FFF , 804px 857px #FFF , 462px 1803px #FFF , 1744px 1819px #FFF , 538px 2183px #FFF , 2019px 1031px #FFF , 206px 1876px #FFF , 496px 2528px #FFF , 419px 988px #FFF , 2250px 851px #FFF , 768px 1075px #FFF , 1319px 1134px #FFF , 1185px 1380px #FFF , 903px 1448px #FFF , 1960px 230px #FFF , 1544px 878px #FFF , 99px 1001px #FFF , 2094px 1775px #FFF , 926px 159px #FFF , 98px 742px #FFF , 1317px 272px #FFF , 590px 2157px #FFF , 845px 1705px #FFF , 921px 574px #FFF , 929px 70px #FFF , 180px 851px #FFF , 979px 1387px #FFF , 2396px 2379px #FFF , 2082px 1623px #FFF , 348px 1028px #FFF , 2410px 1978px #FFF , 1169px 1455px #FFF , 1102px 1506px #FFF , 713px 1583px #FFF , 1523px 1165px #FFF , 1879px 1337px #FFF , 71px 1786px #FFF , 1393px 1691px #FFF , 1668px 1472px #FFF , 40px 2117px #FFF , 1678px 1837px #FFF , 105px 132px #FFF , 2195px 307px #FFF , 1692px 1647px #FFF , 1518px 1942px #FFF , 2246px 2536px #FFF , 1032px 806px #FFF , 1084px 2158px #FFF , 554px 1938px #FFF , 1191px 1406px #FFF , 980px 2511px #FFF , 2295px 141px #FFF , 2057px 1638px #FFF , 323px 277px #FFF , 1362px 1519px #FFF , 603px 1599px #FFF , 1177px 1202px #FFF , 2217px 2185px #FFF , 575px 59px #FFF , 1749px 603px #FFF , 37px 684px #FFF , 858px 1972px #FFF , 1156px 1941px #FFF ,1409px 143px #FFF , 1139px 1223px #FFF , 2350px 2057px #FFF , 1550px 670px #FFF , 2560px 174px #FFF , 29px 1892px #FFF , 1046px 1977px #FFF , 2216px 1874px #FFF , 1906px 1147px #FFF , 1974px 2352px #FFF , 2502px 201px #FFF , 2071px 955px #FFF , 1642px 584px #FFF , 2440px 379px #FFF , 1032px 2011px #FFF , 2436px 1131px #FFF , 1298px 1991px #FFF , 697px 2162px #FFF , 2500px 869px #FFF , 1087px 2422px #FFF , 511px 1471px #FFF , 431px 1553px #FFF , 1542px 2551px #FFF , 114px 862px #FFF , 1807px 445px #FFF , 346px 919px #FFF , 1755px 1448px #FFF , 1056px 1332px #FFF , 1232px 1557px #FFF , 615px 952px #FFF , 769px 1947px #FFF , 2257px 1699px #FFF , 396px 2058px #FFF , 724px 1486px #FFF , 1463px 1146px #FFF , 1856px 1110px #FFF , 38px 160px #FFF , 1810px 1077px #FFF , 1464px 1252px #FFF , 958px 774px #FFF , 205px 1384px #FFF , 633px 760px #FFF , 1560px 1377px #FFF , 1347px 1749px #FFF , 50px 1658px #FFF , 787px 422px #FFF , 2210px 1120px #FFF , 193px 211px #FFF , 482px 1825px #FFF , 1021px 939px #FFF , 213px 1780px #FFF , 205px 330px #FFF , 783px 825px #FFF , 1103px 1745px #FFF , 2435px 1298px #FFF , 1653px 1584px #FFF , 1649px 1193px #FFF , 1692px 537px #FFF , 66px 1171px #FFF , 1925px 648px #FFF , 154px 1900px #FFF , 1196px 272px #FFF , 1014px 1365px #FFF , 1050px 2506px #FFF , 2555px 2433px #FFF , 1588px 1543px #FFF , 183px 2386px #FFF , 1291px 2488px #FFF , 2206px 988px #FFF , 2443px 710px #FFF , 1261px 1479px #FFF;
      animation: animStar 100s linear infinite;
    }
    
    .stars2 {
      z-index: 10;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background: transparent;
      box-shadow: 1275px 1446px #FFF , 3px 1849px #FFF , 2200px 970px #FFF , 1214px 694px #FFF , 2558px 238px #FFF , 379px 1444px #FFF , 2176px 2233px #FFF , 1759px 2112px #FFF , 887px 348px #FFF , 1035px 238px #FFF , 314px 517px #FFF , 498px 2491px #FFF , 2404px 1530px #FFF , 1898px 575px #FFF , 2101px 1497px #FFF , 360px 1832px #FFF , 2099px 1710px #FFF , 650px 477px #FFF , 88px 607px #FFF , 2030px 1259px #FFF , 961px 1917px #FFF , 1521px 1174px #FFF , 1878px 1076px #FFF , 1012px 2394px #FFF , 2051px 1587px #FFF , 784px 1287px #FFF , 2505px 2264px #FFF , 1151px 2273px #FFF , 716px 2501px #FFF , 601px 2072px #FFF , 2221px 1162px #FFF , 377px 1414px #FFF , 2446px 1834px #FFF , 317px 1556px #FFF , 519px 1884px #FFF , 1483px 390px #FFF , 756px 266px #FFF , 121px 1630px #FFF , 232px 1956px #FFF , 1106px 487px #FFF , 399px 1197px #FFF , 1975px 1368px #FFF , 1448px 1008px #FFF , 2306px 2170px #FFF , 2262px 279px #FFF , 37px 266px #FFF , 792px 1796px #FFF , 832px 2560px #FFF , 487px 1926px #FFF , 2407px 1321px #FFF , 333px 2307px #FFF , 696px 349px #FFF , 830px 1762px #FFF , 1628px 926px #FFF , 2090px 959px #FFF , 862px 2028px #FFF , 1125px 2064px #FFF , 2535px 2307px #FFF , 619px 107px #FFF , 1017px 1007px #FFF , 1618px 2059px #FFF , 2110px 1118px #FFF , 1422px 24px #FFF , 1114px 1231px #FFF , 2313px 358px #FFF , 665px 112px #FFF , 2341px 1474px #FFF , 1394px 1027px #FFF , 90px 1886px #FFF , 2552px 981px #FFF , 516px 1076px #FFF , 2353px 774px #FFF , 681px 1713px #FFF , 2280px 192px #FFF , 1933px 1061px #FFF , 2134px 2336px #FFF , 950px 674px #FFF , 1644px 556px #FFF , 130px 1794px #FFF , 1443px 127px #FFF , 1846px 2405px #FFF , 722px 1423px #FFF , 1777px 70px #FFF , 2552px 170px #FFF , 405px 560px #FFF , 1084px 590px #FFF , 3px 313px #FFF , 1149px 816px #FFF , 836px 118px #FFF , 329px 1851px #FFF , 1472px 1614px #FFF , 2105px 1079px #FFF , 2366px 1048px #FFF , 1994px 1836px #FFF , 1903px 1599px #FFF , 1644px 2470px #FFF , 2040px 574px #FFF , 1334px 267px #FFF , 2205px 1581px #FFF , 1344px 1229px #FFF , 711px 1128px #FFF , 858px 2172px #FFF , 1267px 130px #FFF , 443px 948px #FFF , 1719px 77px #FFF , 1615px 458px #FFF , 1679px 1052px #FFF , 1123px 2538px #FFF , 2460px 916px #FFF , 1254px 408px #FFF , 1155px 669px #FFF , 238px 2481px #FFF , 944px 1853px #FFF , 1297px 761px #FFF , 451px 2187px #FFF , 1340px 774px #FFF , 68px 486px #FFF , 2283px 93px #FFF , 2056px 724px #FFF , 585px 1131px #FFF , 708px 266px #FFF , 547px 1126px #FFF , 1243px 1418px #FFF , 2010px 619px #FFF , 463px 1489px #FFF , 662px 1078px #FFF , 1902px 218px #FFF , 2237px 1752px #FFF , 2547px 1725px #FFF , 878px 408px #FFF , 711px 2043px #FFF , 1040px 2125px #FFF , 2263px 1907px #FFF , 342px 940px #FFF , 139px 56px #FFF , 2101px 471px #FFF , 1918px 989px #FFF , 1628px 378px #FFF , 1211px 1887px #FFF , 1824px 972px #FFF , 169px 816px #FFF , 2339px 885px #FFF , 1770px 1180px #FFF , 1578px 537px #FFF , 1814px 2014px #FFF , 2556px 2063px #FFF , 1765px 1244px #FFF , 1118px 262px #FFF , 1146px 2153px #FFF , 1807px 534px #FFF , 930px 932px #FFF , 1857px 521px #FFF , 1159px 2108px #FFF , 1444px 1211px #FFF , 667px 2136px #FFF , 425px 1604px #FFF , 625px 1823px #FFF , 571px 2385px #FFF , 2056px 1887px #FFF , 2470px 68px #FFF , 1381px 1374px #FFF , 1106px 593px #FFF , 1350px 1594px #FFF , 540px 1230px #FFF , 942px 1276px #FFF , 2464px 2097px #FFF , 1347px 682px #FFF , 1349px 1649px #FFF , 2041px 2406px #FFF , 134px 777px #FFF , 128px 1417px #FFF , 1426px 1671px #FFF , 13px 260px #FFF , 669px 459px #FFF , 1956px 615px #FFF , 991px 127px #FFF , 2142px 1915px #FFF , 2034px 484px #FFF , 2268px 22px #FFF , 1497px 1513px #FFF , 1515px 988px #FFF , 589px 2371px #FFF , 1483px 1035px #FFF , 2065px 837px #FFF , 1983px 954px #FFF , 523px 262px #FFF , 382px 443px #FFF , 863px 1541px #FFF , 2120px 1428px #FFF , 1296px 384px #FFF , 2010px 2452px #FFF , 1975px 1114px #FFF , 1071px 2426px #FFF , 2005px 38px #FFF , 1844px 504px #FFF , 2285px 2482px #FFF , 2534px 672px #FFF , 1407px 1795px #FFF , 392px 1100px #FFF , 2077px 2426px #FFF;
      animation: animStar 175s linear infinite;
    }
    .stars2:after {
      content: " ";
      top: 0px;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      position: absolute;
      backgroud: transparent;
      box-shadow: 1099px 1416px #FFF , 828px 1597px #FFF , 1674px 2141px #FFF , 146px 1307px #FFF , 2034px 953px #FFF , 150px 2105px #FFF , 2269px 702px #FFF , 515px 1045px #FFF , 530px 155px #FFF , 1376px 1023px #FFF , 2501px 1807px #FFF , 1296px 1551px #FFF , 1184px 826px #FFF , 979px 699px #FFF , 1501px 2395px #FFF , 322px 2442px #FFF , 376px 1594px #FFF , 867px 2128px #FFF , 24px 221px #FFF , 590px 1929px #FFF , 1540px 1px #FFF , 1702px 1721px #FFF , 1825px 246px #FFF , 2246px 27px #FFF , 828px 1863px #FFF , 1675px 497px #FFF , 1163px 730px #FFF , 2481px 2284px #FFF , 2097px 723px #FFF , 1165px 8px #FFF , 512px 1239px #FFF , 904px 1363px #FFF , 77px 2169px #FFF , 734px 719px #FFF , 2060px 1726px #FFF , 1079px 1952px #FFF , 740px 820px #FFF , 610px 154px #FFF , 1993px 2374px #FFF , 1295px 2317px #FFF , 1609px 2291px #FFF , 1225px 619px #FFF , 2327px 2392px #FFF , 675px 2535px #FFF , 1623px 509px #FFF , 2221px 206px #FFF , 2076px 1184px #FFF , 58px 1247px #FFF , 397px 464px #FFF , 1860px 2296px #FFF , 1945px 2405px #FFF , 713px 2439px #FFF , 641px 359px #FFF , 1567px 766px #FFF , 1794px 1225px #FFF , 1451px 2309px #FFF , 1435px 2214px #FFF , 776px 1796px #FFF , 199px 1665px #FFF , 1925px 2308px #FFF , 132px 2283px #FFF , 2112px 783px #FFF , 1662px 575px #FFF , 1591px 2380px #FFF , 438px 604px #FFF , 756px 260px #FFF , 686px 284px #FFF , 419px 2357px #FFF , 1772px 2196px #FFF , 1285px 1470px #FFF , 551px 1807px #FFF , 910px 1461px #FFF , 1742px 1013px #FFF , 14px 247px #FFF , 1265px 1032px #FFF , 2523px 2453px #FFF , 1923px 596px #FFF , 2219px 1006px #FFF , 392px 1326px #FFF , 96px 1066px #FFF , 1212px 748px #FFF , 2531px 550px #FFF , 2029px 985px #FFF , 27px 317px #FFF , 2295px 2556px #FFF , 1151px 2244px #FFF , 1391px 788px #FFF , 960px 1328px #FFF , 895px 1263px #FFF , 2363px 2045px #FFF , 926px 1624px #FFF , 2550px 471px #FFF , 2047px 1107px #FFF , 1331px 11px #FFF , 576px 136px #FFF , 2557px 587px #FFF , 2436px 508px #FFF , 2159px 1293px #FFF , 2332px 1551px #FFF , 54px 1314px #FFF , 1195px 1236px #FFF , 1574px 685px #FFF , 1385px 699px #FFF , 205px 1123px #FFF , 450px 232px #FFF , 554px 1027px #FFF , 2409px 779px #FFF , 1139px 2051px #FFF , 794px 469px #FFF , 2327px 2454px #FFF , 968px 68px #FFF , 2261px 1044px #FFF , 969px 2207px #FFF , 1350px 1803px #FFF , 280px 180px #FFF , 1222px 1525px #FFF , 638px 2246px #FFF , 1494px 1543px #FFF , 2177px 457px #FFF , 398px 370px #FFF , 1013px 2304px #FFF , 2226px 1553px #FFF , 246px 1328px #FFF , 1166px 401px #FFF , 1376px 2312px #FFF , 1525px 2356px #FFF , 1259px 1128px #FFF , 2442px 2001px #FFF , 2231px 2300px #FFF , 1770px 2046px #FFF , 1006px 242px #FFF , 860px 1315px #FFF , 1503px 161px #FFF , 2337px 2101px #FFF , 2141px 2378px #FFF , 1859px 984px #FFF , 1790px 775px #FFF , 351px 1352px #FFF , 2290px 2077px #FFF , 1705px 47px #FFF , 304px 1714px #FFF , 705px 523px #FFF , 157px 8px #FFF , 1549px 1073px #FFF , 1109px 102px #FFF , 323px 1976px #FFF , 220px 1561px #FFF , 2051px 231px #FFF , 1184px 2046px #FFF , 1418px 2488px #FFF , 2027px 1793px #FFF , 1690px 239px #FFF , 658px 728px #FFF , 1280px 1345px #FFF , 65px 2409px #FFF , 934px 2206px #FFF , 2079px 1341px #FFF , 889px 538px #FFF , 61px 1043px #FFF , 275px 2118px #FFF , 103px 1877px #FFF , 802px 256px #FFF , 1125px 2419px #FFF , 494px 1000px #FFF , 854px 1244px #FFF , 858px 1138px #FFF , 2263px 569px #FFF , 1818px 310px #FFF , 2190px 279px #FFF , 924px 2201px #FFF , 1394px 2459px #FFF , 1487px 2408px #FFF , 2535px 2314px #FFF , 1737px 525px #FFF , 684px 1000px #FFF , 1846px 2197px #FFF , 912px 1157px #FFF , 2542px 1534px #FFF , 1010px 909px #FFF , 1914px 49px #FFF , 1513px 1566px #FFF , 1608px 34px #FFF , 2372px 438px #FFF , 2363px 1296px #FFF , 1922px 23px #FFF , 1827px 1845px #FFF , 167px 562px #FFF , 1763px 2503px #FFF , 409px 1234px #FFF , 2549px 2100px #FFF , 1119px 1541px #FFF , 2496px 2165px #FFF , 1660px 1666px #FFF , 783px 489px #FFF , 480px 2422px #FFF , 2428px 1987px #FFF , 1017px 343px #FFF , 610px 126px #FFF , 1561px 979px #FFF , 2033px 284px #FFF;
    }

    @keyframes animStar {
      from {
        transform: translateY(0px);
      }
      to {
        transform: translateY(-2560px) translateX(-2560px);
      }
    }
    .wrapper{
    z-index: 20;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 800px;
    height: 450px;
    overflow: hidden;
    }
    .title{
    position: relative;
    color: white;
    margin: 20px;
    }
    .counter{
    width: 175px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    }
    .like{
    border: 2px solid #0084FF;
    }
    .love{
    border: 2px solid #FF175A;
    }
    .wow{
    border: 2px solid yellow;
    }
    .haha{
    border: 2px solid yellow;
    }
    .sad{
    border: 2px solid yellow;
    }
    .angry{
    border: 2px solid yellow;
    }
    .reactionImage
    {
      background: white;
      border-radius: 50%;
    }
    </style>
  </body>
</html>