<div class="col s12 m6 l4 hoverable">
	<div class="card">
    <div class="card-content zero-padding">
      <% if post.poll? %>
        <img src="/uploads/post/<%=post.id%>/frame.png" class=" activator post-image">
      <% else %>
        <img src="/videos/frame.jpg" class=" activator post-image">
      <% end %>
    </div>
    <div class="card-tabs">
      <ul class="tabs">
        <li class="tab"><a class="active" href="#title<%=post.id%>">Title</a></li>
        <li class="tab"><a href="#caption<%=post.id%>">Caption</a></li>
        <li class="tab"><a href="#status<%=post.id%>">Status</a></li>
        <i class="activator material-icons right pointer" style="position: relative; top: 10px; right: 8px;">toc</i>
      </ul>
    </div>
    <div class="card-content grey lighten-4">
      <div id="title<%=post.id%>" class="truncate"><%=post.title.capitalize%></div>
      <div id="caption<%=post.id%>" class="truncate"><%=post.caption.capitalize%></div>
      <div id="status<%=post.id%>" class="truncate"><%=post.status.capitalize%></div>
    </div>
    <div class="card-reveal relative">
      <span class="card-title grey-text text-darken-4 truncate bolder"><%=post.title.capitalize%><i class="material-icons right">close</i></span>
      <p><%=post.caption.capitalize%></p>
      <div class="absolute" style=" bottom: 10px;">
      	<% if post.live %>
      		<a href="/users/stop/<%=post.id%>" data-method="post" data-confirm="This will end your live post. Are you sure you want to continue?" class="btn btn-less-padding margin-2 bolder">End Video</a>
      	<% elsif post.status == "scheduled" %>
      		<a href="/users/cancel/<%=post.id%>" data-method="post" data-confirm="Are you sure you want to cancel this scheduled post?" class="btn btn-less-padding margin-2 bolder">Cancel Schedule</a>
      	<% end %>
      	<a href="/posts/<%=post.id%>" class="btn bold dull-purple">Show Full Post</a>
      </div>
    </div>
  </div>
</div>