<center>
  <div class="card plugin hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="/templates/template<%=@template.id%>.jpg">
    </div>
    <div class="card-content" style="padding: 10px !important;">
      <span class="card-title activator grey-text text-darken-2 bolder relative" style="left: 20px; font-size: 30px;">
        Edit Template
      </span>
    </div>
  </div>
  <button id="showInstructions" class="btn">Show Instructions</button>
</center>

<div class="container-wide section">
<%= form_for(@post,:url => url_for(:controller => 'url_videos', :action => 'create'),html: {:multipart => true, class: "col s12", id: "video_form"}) do |f| %>
  <div class="white z-depth-4"  style="padding: 35px;">
  <%= f.hidden_field :template_id , value: @template.id%>
  <div class="row" style="margin-bottom: 0px;">
    <div class="input-field col s12 l6">
      <%= f.text_field :title, required: true, "data-length": 50, "maxlength": 50%>
      <%= f.label "Title" %>
    </div>
    <div class="input-field col s12 l6">
      <%=  f.time_select :duration, {start_hour: 0 , end_hour: hour_limit, default:{hour: 0, minute: 30}, time_separator: ""},{class: 'col s6'}%>
      <%= f.label :duration, "Duration ( Hrs : Min )" %>
    </div>
  </div>
  
  <div class="row">
      <div class="input-field col s12">
        <textarea id="post_caption" name="post[caption]" class="materialize-textarea" style="margin: 0px;"></textarea>
        <label for="textarea1">Caption</label>
      </div>
  </div>

  <div class="row">
    <div class="col s12 l6">
      <input type="checkbox" id="schedule" name="post[scheduled]"/>
      <label for="schedule">Schedule Post</label>
    </div>  
  </div>
  <div  id="datetime" class="row" style="display: none;">
    <div class="input-field col s12 l6">
      <select id="timeZone" name="post[timezone]">
        <% ActiveSupport::TimeZone.all.sort.each do |timezone| %>
        <option value="<%=timezone.formatted_offset%>"><%=timezone%></option>
        <%end%>
      </select>
      <label>Select TimeZone</label>
    </div>
    <div class="input-field col s12 l6">
      <%= f.datetime_select :start_time,{ datetime_separator: "",time_separator: "", ampm: true},{class: "col s6 l3"}%>
      <%= f.label :start_time, "Scheduling Date and Time" %>
    </div>
  </div>

  <!-- <div class="row">
   <div class="input-field col s12 m12 l12">
      <%#=  f.select(:page_id, options_for_select(@pages.map { |obj| [obj['name'], obj['id'], {class: "left circle", "data-icon" => obj['image']}] }),{},{class: 'icons'}) %>
      <%#= f.label "Select Page" %>
    </div>
  </div> -->
  
  <div class="row">
    <%= f.fields_for :link do |builder| %>
    <div class="input-field col s12">
      <%= builder.label :url, "Shareable Video URL" %>
      <%= builder.text_field :url, required: true %>
    </div>
    <% end %>
  </div>

  <div class="row">
    <%= f.submit "Proceed To Select Pages", {class: "col s12 btn",data: {:confirm => 'Are you sure?'} }%>
  </div>
<% end %>
</div>
</div>


<script>
  $(document).ready(function() {
    <% content = raw("<ul class='collection grey-text text-darken-2 bold'><li class='collection-item'>This plugin will stream your video in a loop so that video starts again as soon as it ends, for the selected time duration.</li><li class='collection-item'>Make sure that you don't upload any copyrighted content without permission otherwise your post will be deleted by facebook. Also, videos with bad encoding may not be posted properly.</li><li class='collection-item'>Select your time zone for scheduling your posts carefully.</li></ul>") %>
    
    <%= render '/shared/new_post.js', content: content%>
    <%= render 'validate_url.js' %>
  });
</script>