<center>
  <div class="card plugin hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="/templates/template<%=@template.id%>.jpg">
    </div>
    <div class="card-content" style="padding: 10px !important;">
      <span class="card-title activator grey-text text-darken-2 bolder relative" style="left: 20px; font-size: 30px;">
        Edit Template
      </span>
    </div>
  </div>
  <button id="showInstructions" class="btn">Show Instructions</button>
</center>

<div class="container-wide section">
<%= form_for(@post,:url => url_for(:controller => 'url_videos', :action => 'create'),html: {:multipart => true, class: "col s12", id: "video_form"}) do |f| %>
  <div class="white z-depth-4"  style="padding: 35px;">
  <%= f.hidden_field :template_id , value: @template.id%>
  <div class="row" style="margin-bottom: 0px;">
    <div class="input-field col s12 l6">
      <%= f.text_field :title, required: true, "data-length": 50, "maxlength": 50%>
      <%= f.label "Title" %>
    </div>
    <div class="input-field col s12 l6">
      <%=  f.time_select :duration, {start_hour: 0 , end_hour: hour_limit, default:{hour: 0, minute: 30}, time_separator: ""},{class: 'col s6'}%>
      <%= f.label :duration, "Duration ( Hrs : Min )" %>
    </div>
  </div>
  
  <div class="row">
      <div class="input-field col s12">
        <textarea id="post_caption" name="post[caption]" class="materialize-textarea" style="margin: 0px;"></textarea>
        <label for="textarea1">Caption</label>
      </div>
  </div>

  <div class="row">
    <div class="col s12 l6">
      <input type="checkbox" id="schedule" name="post[scheduled]"/>
      <label for="schedule">Schedule Post</label>
    </div>  
  </div>
  <div  id="datetime" class="row" style="display: none;">
    <div class="input-field col s12 l6">
      <select id="timeZone" name="post[timezone]">
        <% ActiveSupport::TimeZone.all.sort.each do |timezone| %>
        <option value="<%=timezone.formatted_offset%>"><%=timezone%></option>
        <%end%>
      </select>
      <label>Select TimeZone</label>
    </div>
    <div class="input-field col s12 l6">
      <%= f.datetime_select :start_time,{discard_year: true, datetime_separator: "",time_separator: "", ampm: true},{class: "col s6 l3"}%>
      <%= f.label :start_time, "Scheduling Date and Time" %>
    </div>
  </div>

  <div class="row">
    <%= f.fields_for :link do |builder| %>
    <div class="input-field col s12">
      <%= builder.label :url, "Shareable Source Video URL" %>
      <%= builder.text_field :url, required: true %>
    </div>
    <% end %>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :key, "Enter RTMP/RTSP Target URL" %>
      <%= f.text_field :key, required: true, placeholder: "rtmp://site-name.com/xxxxxxxxx" %>
    </div>
  </div>

  <div class="row">
    <%= f.submit "Submit", {class: "col s12 btn",data: {:confirm => 'Are you sure?'} }%>
  </div>
<% end %>
</div>
</div>


<script>
  $(document).ready(function() {
    var showInstructions = function()
    {
      $.alert({
        theme: "supervan",
        boxWidth: width + "px",
        useBootstrap: false,
        title: "Instructions !!!",
        content: "<ul class='collection grey-text text-darken-2 bold'><li class='collection-item'>Make sure you enter correct RTMP/RTSP link.</li><li class='collection-item'>This plugin will stream your video in a loop so that video starts again as soon as it ends, for the selected time duration.</li><li class='collection-item'>Don't upload any copyrighted content without permission otherwise your post will be deleted by facebook. Also, videos with bad encoding may not be posted properly.</li><li class='collection-item'>Select your time zone for scheduling your posts carefully.</li><li class='collection-item'>English language is preferred for all the inputs.</li></ul>"
      })
    };
    showInstructions();
    $("#showInstructions").on('click',showInstructions);
    
    $('select').material_select();

    //Setting time zone as user's time zone
    var date = new Date();
    var offset = date.getTimezoneOffset();
    var sign = "-";
    if(offset < 0)
    {
      sign = "+";
    }
    var offsetHours = Math.abs(parseInt(offset/60));
    var includeZero = "";
    if(offsetHours < 10)
    {
      includeZero = "0";
    }
    var offsetMinutes = Math.abs(offset) - offsetHours*60;
    var prefix = "GMT"+sign+includeZero+offsetHours+":"+offsetMinutes;
    var list = $("#timeZone option");
    for(var i=0;i<list.length;i++)
    {
      if(list[i].innerHTML.indexOf(prefix) !== -1)
      {
        $(list[i]).attr({selected: 'true'});
        $("#timeZone").material_select();
        break;
      }
    }

    $('#schedule').click(function(){
      if( $(this).is(':checked') )
        $('#datetime').slideDown(300);
      else
        $('#datetime').slideUp(300);
    });

    $('#video_form').on('submit',function(){
      jQuery.ajaxSetup({async:false});
      var valid = true;
      var embeddable = true;
      var content = null;
      var url = $("#post_link_attributes_url").val();
      //Validating url if embeddable or not
      if($("#post_template_id").val() == 12)
      {
        regEx = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/ ;
        if(url.match(regEx) == null || url.match(regEx)[7] == undefined || url.match(regEx)[7] == null)
        {
          valid = false;
        }
        else
        {
          $.get("https://www.googleapis.com/youtube/v3/videos?key=<%=ENV['GOOGLE_API_KEY']%>&part=status&id="+url.match(regEx)[7],function(data,status){
            try{
              if(data.items[0].status.embeddable == false)
              {
                embeddable = false;
              }
            }
            catch(err)
            {
              valid = false;
            }
          });
        }
        content = "<ul class='collection grey-text text-darken-2 bold'><li class='collection-item'>http://youtu.be/xxxxxxxxxxx</li><li class='collection-item'>http://www.youtube.com/watch?v=xxxxxxxxxxxx</li><li class='collection-item'>http://www.youtube.com/embed/xxxxxxxxxxx?rel=0</li><li class='collection-item'>http://www.youtube.com/v/xxxxxxxxxxxx?fs=1&amp;hl=en_US&amp;rel=0</li><li class='collection-item'>http://www.youtube.com/user/some_user_name#p/a/u/1/xxxxxxxxxx</li></ul>"
      }
      else if ($("#post_template_id").val() == 14)
      {
        patterns = [/https:\/\/drive\.google\.com\/file\/d\/(.*?)\/.*?\?usp=sharing/, /https:\/\/drive\.google\.com\/open\?id=(.*)/,/https:\/\/www\.dropbox\.com\/s\/(.*)\/.*/,/https:\/\/1drv\.ms\/v\/s!(.*?)/]
        valid = false;
        for(var i=0;i<patterns.length;i++)
        { 
          if(url.match(patterns[i]))
          { 
            valid = true;
            break;
          } 
        }
        content = "<ul class='collection grey-text text-darken-2 bold'><li class='collection-item'>https://1drv.ms/v/s!xxxxxxxxxxxxxxxxxx</li><li class='collection-item'>https://www.dropbox.com/s/xxxxxxxxxxxxxx/filename.mp4?dl=0</li><li class='collection-item'>https://www.dropbox.com/s/xxxxxxxxxxxxxx/filename.mp4?dl=1</li><li class='collection-item'>https://www.dropbox.com/s/xxxxxxxxxxxxxx/filename.mp4</li><li class='collection-item'>https://drive.google.com/open?id=xxxxxxxxxxxxxxxxxxxxxx</li><li class='collection-item'>https://drive.google.com/file/d/xxxxxxxxxxxxxxxxxxxxx/view?usp=sharing</li></ul>"
      }

      if(!valid)
      {
        setTimeout(function(){
          $.dialog(
          {
            theme: "supervan",
            boxWidth: width,
            useBootstrap: false,
            title: "Invalid Video URL! Allowed formats are ",
            content: content
          });
        },1);
        return false;
      }
      else if(!embeddable)
      {
        setTimeout(function(){
          $.dialog(
          {
            theme: "supervan",
            boxWidth: width,
            useBootstrap: false,
            title: "Invalid Details !!!",
            content: "Selected video can't be used to go live as the rights are reserved by the publishing channel."
          });
        },1);
        return false;
      }
      setTimeout(function(){
        $.dialog(
        {
          theme: "supervan",
          boxWidth: width,
          useBootstrap: false,
          title: "Uploading Files !!!",
          content: "Please wait while files are being uploaded. You will be automatically redirected.",
          onOpenBefore: function () {
              $(".jconfirm-closeIcon").hide();
          }
        });
      },1);
    })
  });
</script>