<div class="row">
	<div class="center-align">
		<h4 class="header red-text">
			<% if @post.status == "scheduled" %>
				Your post has been scheduled successfully. Note that it will be posted at scheduled time only if slots will be available.
			<% else %>
				Success! Streaming has been successfully started. Your video will go live within 1 minute.
			<% end %>
		</h4>
	</div>
	<div class="row">
		<div class="col s12 m8 l8 offest-m2 offset-l2">
			<div class="row">
					<div class="card hoverable z-depth-5">
					  <div class="card-image">
					    <img src="/uploads/post/<%=@post.id%>/frame1.png">
				      <span class="card-title"><%=@post.title%></span>
				    </div>
					  <div class="card-content">
					    <p><%=@post.caption%></p>
				    </div>
				    <div class="card-action">
					    <% if @post.status == "scheduled" %>
					    	<a class="btn" href="/polls/<%=@post.id%>/frame">Redraw Frame</a>
					    <% else %>
					    	<a class="btn" href="https://www.facebook.com/<%=@post.video_id%>">Watch Video</a>
					    <% end %>
				    </div>
				  </div>
				</div>
		</div>
	</div>
</div>