<center>
	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-4726706343331157"
	     data-ad-slot="5921286380"
	     data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</center>
<div class="row">
	<div class="center-align">
		<h4 class="header red-text">
			<% if @post.status == "scheduled" %>
					<div class="note white-text">Your post has been scheduled successfully.</div>
					<div class="note white-text">Note that it will be posted after scheduled time as soon as a slots will be available.</div>
					<div class="note white-text">You can cancel schedule if you want, from <%= link_to "My Posts", myposts_path%> section.</div> 
			<% else %>
				<div class="note white-text">Success! Streaming has been successfully started. Your video will go live within 1 minute.</div>
			<% end %>
		</h4>
	</div>
	<div class="row">
		<div class="col s12 m8 l8 offest-m2 offset-l2">
			<div class="row">
					<div class="card hoverable z-depth-5">
					  <div class="card-image">
					    <img src="/uploads/post/<%=@post.id%>/frame.png">
				    </div>
					  <div class="card-content">
					    <p><%=@post.caption%></p>
				    </div>
				    <div class="card-action">
					    <% unless @post.status == "scheduled" %>
					    	<a class="btn" href="https://www.facebook.com/<%=@post.video_id%>">Watch Video</a>
					    <% else %>
					    	<%= link_to "My Posts", myposts_path, class: "btn"%>
					    <% end %>
				    </div>
				  </div>
				</div>
		</div>
	</div>
</div>
