<html lang="en">
	<head>
		<title>Frame Page</title>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8" />
    <meta http-equiv="Content-Language" content="de,fr,it,en,hi,pa"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	</head>

	<body>
		<% if Rails.env.production? %>
    <audio controls loop autoplay preload="auto">
      <source src="<%= post.audio.url %>" type="audio/ogg">
      <source src="<%= post.audio.url %>" type="audio/mpeg">
    </audio>
    <% else %>
    <audio controls loop autoplay preload="auto">
      <source src="audio.aac" type="audio/ogg">
      <source src="audio.aac" type="audio/mpeg">
    </audio>
    <% end %>
    <% if post.user.member? %>
    <div class="random" style="position: absolute; z-index: 100000; opacity: 0.9;">
      <b style="position: absolute; z-index: 100000;">
        <img style="position: absolute; z-index: 100000;" src="../../../small_logo.png" width="140" height="60">
      </b>
    </div>
    <% end %>
		<div class="container">
			<h1 class="title"><%=post.title%></h1>	
			<div class="options">
				<section>
					<div class="thumb">
						<img src="<%=ENV['prefix']%><%=images[0].file.url%>" alt="">
					</div>
					<div class="counter counter-<%=images[0].reaction%>">
						<p id="<%=images[0].reaction%>">0</p>
					</div>
				</section>
				<section>
					<div class="thumb">
						<img src="<%=ENV['prefix']%><%=images[1].file.url%>" alt="">
					</div>
					<div class="counter counter-<%=images[1].reaction%>">
						<p id="<%=images[1].reaction%>">0</p>
					</div>
				</section>
				<section>
					<div class="thumb">
						<img src="<%=ENV['prefix']%><%=images[2].file.url%>" alt="">
					</div>
					<div class="counter counter-<%=images[2].reaction%>">
						<p id="<%=images[2].reaction%>">0</p>
					</div>
				</section>
			</div>
				
				
				
			<div class="shoutbox">
				<div id="picture">
					<div id="thumb"></div>
				</div>
				<p>
					<strong id="name"></strong>
					<span id="comment"></span>
				</p>
			</div>
		</div>
		
		<script>
		$(document).ready(function(){

			/** Script Settings **/
			var accessToken = "<%=post.page_access_token%>"
			postID = "<%= post.video_id %>",
			url = null,
			reactionsCounter = {},
			fields = '',
			shareCounter = false;
			
			function update() {
				$('#<%=images[0].reaction%>').text(reactionsCounter.<%=images[0].reaction%>);
				$('#<%=images[1].reaction%>').text(reactionsCounter.<%=images[1].reaction%>);
				$('#<%=images[2].reaction%>').text(reactionsCounter.<%=images[2].reaction%>);					
			}

			function getCount() {
				$.getJSON(url, function(response){
					var total_<%=images[0].reaction%> = 0;
					var total_<%=images[1].reaction%> = 0;
					var total_<%=images[2].reaction%> = 0;
					for(var key in response) 
					{
						if (!response.hasOwnProperty(key)) continue;
						total_<%=images[0].reaction%> += response[key].reaction_<%=images[0].reaction%>.summary.total_count;
						total_<%=images[1].reaction%> += response[key].reaction_<%=images[1].reaction%>.summary.total_count;
						total_<%=images[2].reaction%> += response[key].reaction_<%=images[2].reaction%>.summary.total_count;
					}
					reactionsCounter = {
						<%=images[0].reaction%> : total_<%=images[0].reaction%>,
						<%=images[1].reaction%> : total_<%=images[1].reaction%>,
						<%=images[2].reaction%> : total_<%=images[2].reaction%>,
					};
					update();
				})
				.fail(function(data){
					response = JSON.parse(data.responseText);
					clearInterval(interval);
				});
			}

			function generateURL() {
				url = 'https://graph.facebook.com/v2.8/?ids=' + postID + '&fields=' + fields;
				url +='reactions.type('+ "<%=images[0].reaction%>".toUpperCase() + ').limit(0).summary(total_count).as(reaction_<%=images[0].reaction%>),';
				url +='reactions.type('+ "<%=images[1].reaction%>".toUpperCase() + ').limit(0).summary(total_count).as(reaction_<%=images[1].reaction%>),';
				url +='reactions.type('+ "<%=images[2].reaction%>".toUpperCase() + ').limit(0).summary(total_count).as(reaction_<%=images[2].reaction%>),';			
				url = url.substring(0, url.length - 1);
				url += '&access_token=' + accessToken;
			}
			generateURL();
			getCount();
			var interval = setInterval(getCount, 3 * 1000);

			var shoutboxUrl = 'https://graph.facebook.com/v2.8/' + postID + '?fields=comments.limit(1).order(reverse_chronological){message,from{name,id}}&access_token=' + accessToken,
			lastCommentId = null;

			function shoutboxUpdate() {
				$.getJSON(shoutboxUrl, function(response){
					if(response.comments) {
						var comment =  response.comments.data[0];					
						if(comment.id === lastCommentId)
							return;

						lastCommentId = comment.id;
						var message = comment.message,
						name = comment.from.name,
						image = '<img src="https://graph.facebook.com/v2.8/' + comment.from.id +'/picture?width=128&height=128">';
						
						$('#thumb').html(image);
						$('#name').text(name);
						$('#comment').text(message);
						$('.shoutbox').addClass('show-shoutbox');
						setTimeout(function(){
							$('.shoutbox').removeClass('show-shoutbox');
						}, 4 * 1000);
					}
				})
				.fail(function(data){
					response = JSON.parse(data.responseText);
					console.log('Error: ' + response.error.message);
					clearInterval(shoutboxInterval);
				});
			}

			shoutboxUpdate();
			var shoutboxInterval = setInterval(shoutboxUpdate, 5 * 1000);
			
				});
	</script>	
	  <style>
	
	* {
		cursor: none !important;
		margin: 0;
		padding: 0;
		border: 0;
		box-sizing: border-box;
	}
	
    audio
    {
      display: none;
    }
	/* cyrillic-ext */
	@font-face {
	  font-family: 'Roboto Condensed';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsDrvev4WAjW489CRDHIkJ90.woff2) format('woff2');
	  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
	}
	/* cyrillic */
	@font-face {
	  font-family: 'Roboto Condensed';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsCGXDOnx9ptx3UTSPTrfsgk.woff2) format('woff2');
	  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
	}
	/* greek-ext */
	@font-face {
	  font-family: 'Roboto Condensed';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsAZ98xO_Wnt-JIem4AuLGfs.woff2) format('woff2');
	  unicode-range: U+1F00-1FFF;
	}
	/* greek */
	@font-face {
	  font-family: 'Roboto Condensed';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsE1G989qbVg6RT5ly5jB8V8.woff2) format('woff2');
	  unicode-range: U+0370-03FF;
	}
	/* vietnamese */
	@font-face {
	  font-family: 'Roboto Condensed';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsJ84zb0nVte6liF9gGtpo1Y.woff2) format('woff2');
	  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
	}
	/* latin-ext */
	@font-face {
	  font-family: 'Roboto Condensed';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsD86pq2NkPzVgw_9lpT6RGI.woff2) format('woff2');
	  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
	}
	/* latin */
	@font-face {
	  font-family: 'Roboto Condensed';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsDAdhzWOYhqHvOZMRGaEyPo.woff2) format('woff2');
	  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
	}
	@font-face {
	  font-family: 'Lato';
	  font-style: normal;
	  font-weight: 300;
	  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v13/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
	  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
	}
	/* latin */
	@font-face {
	  font-family: 'Lato';
	  font-style: normal;
	  font-weight: 300;
	  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v13/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2');
	  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
	}
	/* latin-ext */
	@font-face {
	  font-family: 'Lato';
	  font-style: normal;
	  font-weight: 700;
	  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v13/ObQr5XYcoH0WBoUxiaYK3_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
	  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
	}
	/* latin */
	@font-face {
	  font-family: 'Lato';
	  font-style: normal;
	  font-weight: 700;
	  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v13/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
	  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
	}
	/* cyrillic */
	@font-face {
	  font-family: 'Oswald';
	  font-style: normal;
	  font-weight: 300;
	  src: local('Oswald Light'), local('Oswald-Light'), url(https://fonts.gstatic.com/s/oswald/v13/WDQRONh0ieLkzMd4njMkJBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
	  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
	}
	/* vietnamese */
	@font-face {
	  font-family: 'Oswald';
	  font-style: normal;
	  font-weight: 300;
	  src: local('Oswald Light'), local('Oswald-Light'), url(https://fonts.gstatic.com/s/oswald/v13/qlwg-kjAsZDGqOniRm96VBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
	  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
	}
	/* latin-ext */
	@font-face {
	  font-family: 'Oswald';
	  font-style: normal;
	  font-weight: 300;
	  src: local('Oswald Light'), local('Oswald-Light'), url(https://fonts.gstatic.com/s/oswald/v13/l1cOQ90roY9yC7voEhngDBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
	  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
	}
	/* latin */
	@font-face {
	  font-family: 'Oswald';
	  font-style: normal;
	  font-weight: 300;
	  src: local('Oswald Light'), local('Oswald-Light'), url(https://fonts.gstatic.com/s/oswald/v13/HqHm7BVC_nzzTui2lzQTDVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
	  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
	}

	html {
		position: relative;
		font-size: 25px;
	}

	body {
		margin: 0;
		padding: 0;
		font-size: 100%;
		text-align: center;
		font-family: sans-serif;
	}
	h1
	{
		position: relative;
		top: 32px;
	}
	
	.container {
		position: absolute;
		top: 0;
		left: 0;
		width: 1280px;
		height: 720px;
		background-color: transparent;
		background-image: url('<%=ENV['prefix']%><%=post.background.url%>');
		background-repeat: no-repeat;
		background-size: 1280px 720px;
		overflow: hidden;
	}

	.title {
		font-family: 'Roboto Condensed', sans-serif;;
		font-weight: 300;
		color: #fff;
		text-transform: uppercase;
	}



	.thumb img {
		width: 100%;
		height: 320px;
		display: block;
	}

	.options {
		position: relative;
		top: 80px;
		overflow: hidden;
	}

	.options section {
		height: 336px;
		width: 33.333333333333%;
		float: left;
		position: relative;
	}

	.thumb {
		width: 90%;
		border-radius: 50%;
		overflow: hidden;
		margin: 0 auto;
		border: 0rem solid rgba(255, 255, 255, 0.5);
		text-align: center;
	}



	.counter {
		width: 80%;
		margin: 0 auto;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		overflow: hidden;
		background-size: 100%;
		background-repeat: no-repeat;
		height: 101px;
	}



	.counter-like {
		background-image: url('../../../reactions/like.svg');
	}
	.counter-love {
		background-image: url('../../../reactions/love.svg');
	}
	.counter-haha {
		background-image: url('../../../reactions/haha.svg');
	}
	.counter-wow {
		background-image: url('../../../reactions/wow.svg');
	}
	.counter-sad {
		background-image: url('../../../reactions/sad.svg');
	}
	.counter-angry {
		background-image: url('../../../reactions/angry.svg');
	}

	.counter p {
		position: absolute;
		width: 100%;
		top: 50%;    
	  font-size: 2rem;
		transform: translateY(-50%);
		color: #2e2e2e;
		font-family: 'Roboto Condensed', sans-serif;;
	}



	.shoutbox {
		position: absolute;
		bottom: -100%;
		left: 0;
		width: 100%;
		background: #0275d8;
		display: table;
		padding: 1rem 2rem;
		transition: 1s;
		text-align: left;
		}

	.show-shoutbox {
		bottom: 0;
	}

	#picture {
		display: table-cell;
		vertical-align: top;
		width: 4.4rem;
	}

	#thumb {
		background: #fff;
		border-radius: 0.4rem;
		padding: 0.2rem;
		width: 4.4rem;
		height: 4.4rem;
	}

	#thumb img {
		border-radius: 0.4rem;
		max-width: 100%;
		display: block;
	}

	.shoutbox p {
		display: table-cell;
		vertical-align: top;
		color: #fff;
		padding-left: 1rem;
	}

	#name {
		display: block;
		padding-bottom: 0.25rem;
	}

	#comment {
		color: #eee;
	}

	.random b {
	  position: absolute;
	  display: block;
	  z-index: 100000;
	  -webkit-animation: moveX 14s linear 0s infinite alternate, moveY 13.4s linear 0s infinite alternate;
	  -moz-animation: moveX 14s linear 0s infinite alternate, moveY 13.4s linear 0s infinite alternate;
	  -o-animation: moveX 14s linear 0s infinite alternate, moveY 13.4s linear 0s infinite alternate;
	  animation: moveX 14s linear 0s infinite alternate, moveY 13.4s linear 0s infinite alternate;
	}

	@-webkit-keyframes moveX {
  	from { left: 0; } to { left: 1130px; }
  }
  @-moz-keyframes moveX {
    from { left: 0; } to { left: 1130px; }
  }
  @-o-keyframes moveX {
    from { left: 0; } to { left: 1130px; }
  }
  @keyframes moveX {
    from { left: 0; } to { left: 1130px; }
  }
  @-webkit-keyframes moveY {
    from { top: 0; } to { top: 650px; }
  }
  @-moz-keyframes moveY {
    from { top: 0; } to { top: 650px; }
  }
  @-o-keyframes moveY {
    from { top: 0; } to { top: 650px; }
  }
  @keyframes moveY {
    from { top: 0; } to { top: 650px; }
  }

	</style>

	    
	</body>
</html>