<center>
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-4726706343331157"
       data-ad-slot="5921286380"
       data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</center>

<div class="row">
  <%= link_to "Sign Out", destroy_editor_session_path, method: "delete", class: "btn col s4 m2 l1" %>
  <%= link_to "Lives List", editors_lives_list_path, class: "green btn col s4 m2 l1" %>
</div>
<%= paginate @users, window: 2%>
<div class="white privacy-box card hoverable z-depth-4">
  <table class="responsive-table striped">
    <thead>
        <tr>
          <th data-field="title">User Id</th>
          <th data-field="name">User Name</th>
          <th data-field="status">Status</th>
          <th data-field="duration">Email</th>
          <th data-field="link">Facebook Link</th>
        </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.role %></td>
          <td><%= user.email%></td>
          <td>
          	<a href="https://www.facebook.com/<%=user.uid%>" class="btn">View Profile</a>
          </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

