<% if @pages.count==0 %>
  <div class="card valign-wrapper center" style="height: 280px;">
    <div class="valign container">
      <h4 class="row red-text"> Sorry! But you do not own any Facebook page.</h4>
      <h4 class="row red-text">You have to be editor or admin of atleast one facebook page to proceed further. </h4>
    </div>
  </div>
<% else %>
  <h3 class="header grey-text text-darken-2 bolder center">Live Poll Details</h3>
  <div class="row container white z-depth-4" style="padding: 40px 40px 50px 40px;">
  <%= form_for(@post,html: {class: "col s12"}) do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row" style="margin-bottom: 0px;">
      <div class="input-field col s12 l6">
        <%= f.text_field :title, required: true%>
        <%= f.label "Title" %>
      </div>
      <div class="input-field col s12 l6">
        <%=  f.time_select :duration, {start_hour: 0 , end_hour: 3, default:{hour: 0, minute: 30}, time_separator: ""},{class: 'col s6'}%>
        <%= f.label "Duration ( hrs : min )" %>
      </div>
    </div>
    
    <div class="row">
        <div class="input-field col s12">
          <textarea id="post_caption" name="post[caption]" class="materialize-textarea" style="padding: 0.6rem 0px 0.2rem 0px"></textarea>
          <label for="textarea1">Caption</label>
        </div>
    </div>

    
    <div class="row">
      <div class="file-field input-field col s12 m6 l6">
        <div class="btn">
          <span>Playback Audio</span>
          <%= f.file_field :audio, {class: 'file_select', onchange: "validateAudioFiles(this);", data: { max_file_size: 50.megabytes} }%>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>

     <div class="input-field col s12 m6 l6">
        <%=  f.select(:page_id, options_for_select(@pages.map { |obj| [obj['name'], obj['id'], {class: "left circle", "data-icon" => obj['image']}] }),{},{class: 'icons'}) %>
        <%#=  f.select(:page_id, options_for_select([["Choose an option","",disabled: true, selected: true]] + @pages.map { |obj| [obj['name'], obj['id'], {class: "left circle", "data-icon" => obj['image']}] }),{},{class: 'icons'}) %>
        <%= f.label "Select Page" %>
      </div>
    </div>
    
    <div class="row">
      
    </div>
    <div class="row">
      <%= f.submit "Proceed to draw frame", {class: "col s12 btn"}%>
    </div>
  <% end %>
  </div>


  <script>
    $(document).ready(function() {
      $('select').material_select();
    });
  </script>
<% end %>