<div class="header page-heading grey-text text-darken-2 bolder center">
	Select Handles
</div>
<div class="row container-wide white z-depth-3">
  <%= form_tag("/posts/" + @post.id.to_s + "/submit_pages",id: "selectPages", class: "row zero-margin") do %>
    <div class="row">
    <% @timelines.each do |timeline| %>
      <div class="card col s12 m3 l2 relative unchecked page">
        <input type="hidden" value="<%=LiveStream.targets['on_timeline']%>" name="handle[][target]"/>
        <input type="hidden" value="<%=timeline['id']%>" name="handle[][id]"/>
        <input type="checkbox" class="checkbox" name="handle[][value]"/>
        <div id="<%=timeline['id']%>" class="flexbox-vertical label">
          <center><img src="<%=timeline['image']%>" class="circle responsive-image" width=80></center>
          <center class="page_name bold truncate"><%=timeline['name']%></center>
          <center class="page_name bold truncate">Type: Timeline</center>
        </div>
      </div>
    <% end %>
  	<% @pages.each do |page| %>
	    <div class="card col s12 m3 l2 relative unchecked page">
	    	<input type="hidden" value="<%=LiveStream.targets['on_page']%>" name="handle[][target]"/>
        <input type="hidden" value="<%=page['id']%>" name="handle[][id]"/>
        <input type="checkbox" class="checkbox" name="handle[][value]"/>
        <div id="<%=page['id']%>" class="flexbox-vertical label">
		   		<center><img src="<%=page['image']%>" class="circle responsive-image" width=80></center>
		   		<center class="page_name bold truncate"><%=page['name']%></center>
          <center class="page_name bold truncate">Type: Page</center>
		   	</div>
	    </div>
		<% end %>
    <% @groups.each do |group| %>
      <div class="card col s12 m3 l2 relative unchecked page">
        <input type="hidden" value="<%=LiveStream.targets['on_group']%>" name="handle[][target]"/>
        <input type="hidden" value="<%=group['id']%>" name="handle[][id]"/>
        <input type="checkbox" class="checkbox" name="handle[][value]"/>
        <div id="<%=group['id']%>" class="flexbox-vertical label">
          <center><img src="<%=group['image']%>" class="circle responsive-image" width=80></center>
          <center class="page_name bold truncate"><%=group['name']%></center>
          <center class="page_name bold truncate">Type: Group</center>
        </div>
      </div>
    <% end %>
    </div>

    <div id="rtmp_form" class="row">
    </div>

    <div class="row">
      <center><button id="add_rtmp" class="btn blue">Add Custom RTMP Target</button></center>
    </div>
		<input type="submit" class="btn col s12" value="Submit">
	<%end%>
</div>

<style>
		body{
			display: none;
		}
</style>

<script>
  var counter = 1;
  $(window).load(function() {
    // When the page has loaded
    $("body").fadeIn(1000);
  });
	$(document).ready(function(){
		var max_page_limit = <%=current_user.live_stream_page_limit%>;
		$(".label").click(function(){
			var actionTaken = true;
			if($(this).prev().attr('checked'))
			{
				$(this).prev().attr('checked', false);
			}
			else
			{
				var selected_pages = $("input[checked='checked']").length;
				if (selected_pages >= max_page_limit)
				{
					actionTaken = false;
					$.alert({
	          theme: "supervan",
	          boxWidth: width,
	          useBootstrap: false,
	          title: "Alert!",
	          content: "You can select " + max_page_limit + " page(s) only. Please unselect any other page first to select this page."
	        });
				}
				else
				{
					$(this).prev().attr('checked', true);	
				}
			}
			if(actionTaken)
				$(this).parent().toggleClass("unchecked checked", 'slow', "easeOutSine");
		});

		$("#selectPages").on('submit',function(){
			setTimeout(function(){
        $.dialog({
          theme: "supervan",
          boxWidth: width,
          useBootstrap: false,
          title: "Submitting !!!",
          content: "Please be patient and wait while we are submitting details.",
          onOpenBefore: function () {
            $(".jconfirm-closeIcon").hide();
          }
        });
      },1); 
      return true;
		});

    $("#add_rtmp").on('click',function(e){
      e.preventDefault();
      //console.log(e);
      var div = document.createElement("div");
      var id = counter;
      counter++;
      div.innerHTML = "<div class='card' id='input_" + id + "'> <div class='row'> <div class='col s10'> <input placeholder='Enter RTMP Target URL' type='text' name='rtmp_url[][key]'> </div> <div class='col s2 valign-wrapper'> <button class='btn remove-rtmp' data-remove_id='input_" + id + "' >Remove</button> </div> </div> </div>";
      $("#rtmp_form").append(div);
      add_remove_event();
    });
    
    var add_remove_event = function(){
      $(".remove-rtmp").on('click',function(e){
        e.preventDefault();
        var target_id = "#" + $(this).attr("data-remove_id");
        $(target_id).remove();
      });
    }
	});
</script>

<style>
	form
	{
		padding: 20px;
	}
	.label
	{
		padding: 5px 0;
		overflow: hidden;
		align-items: normal !important;
	}
	.label:hover
	{
		cursor: pointer;
	}
	.page
	{ 
		margin: 5px 3%;
		-webkit-transition: background 250ms; /* Safari */
		transition: background 250ms;
	}
	.unchecked
	{
		background: white;
		color: #57585a;
	}
	.checked
	{
		background: #98d66c;
		color: white;
	}

  .remove_rtmp_button
  {

  }
	@media only screen and (max-width : 992px) {
		.page
		{
			margin: 5px 8%;
		}
	}
</style>