<div class="flexbox post-show">
  <div class="col s12 m6 l6">
  	<div class="card z-depth-4">
      <div class="card-content zero-padding">
        <% if @post.poll? %>
          <img src="<%=@post.image.url%>" class=" activator post-image">
        <% else %>
          <img src="/videos/frame.png" class=" activator post-image" style="max-width: 800px;">
        <% end %>
      </div>
      <div class="card-tabs">
        <ul class="tabs">
          <li class="tab hide-on-small-only"><a href="#page<%=@post.id%>">Page</a></li>
          <li class="tab"><a href="#status<%=@post.id%>">Status</a></li>
          <li class="tab"><a href="#duration<%=@post.id%>">Duration</a></li>
          <li class="tab hide-on-small-only"><a href="#video<%=@post.id%>">Video Link</a></li>
          <li class="tab"><a href="#action<%=@post.id%>">Action</a></li>
          <i class="activator material-icons right pointer" style="position: relative; top: 10px; right: 8px;">toc</i>
        </ul>
      </div>
      <div class="card-content grey lighten-4">
        <div id="page<%=@post.id%>" class="chip hide-on-small-only">
          <img src="<%=@url%>">
          <%=@name%>
        </div>
        <div id="status<%=@post.id%>"><%=status_message(@post)%></div>
        <div id="duration<%=@post.id%>"><%= @post.duration.hour %> Hours : <%=@post.duration.min%> Minutes</div>
        <div id="video<%=@post.id%>" class="hide-on-small-only">
          <% unless @post.video_id.nil? %>
            <a href="https://www.facebook.com/<%=@post.video_id%>" class="btn">Watch Video</a>
          <% end %>
        </div>
        <div id="action<%=@post.id%>">
          <% unless @post.scheduled? %>
            <a href="/posts/<%=@post.id%>/share" class="btn btn-less-padding margin-2 bolder">Share</a>
          <% end %>
          <% if @post.live %>
            <a href="/users/stop/<%=@post.id%>" data-method="post" data-confirm="This will end your live post. Are you sure you want to continue?" class="btn btn-less-padding margin-2 bolder">End Video</a>
          <% elsif @post.status == "scheduled" %>
            <a href="/users/cancel/<%=@post.id%>" data-method="post" data-confirm="Are you sure you want to cancel this scheduled post?" class="btn btn-less-padding margin-2 bolder">Cancel Schedule</a>
          <% end %>
        </div>
      </div>
      <div class="card-reveal relative">
        <p class="card-title grey-text text-darken-1 bold" style="text-align: center;"><span class="relative" style="left: 20px">Details</span><i class="material-icons right">close</i></p>
        <ul class="collection">
          <% if @post.live %>
            <li class="collection-item avatar">
              <i class="material-icons circle red">fitness_center</i>
              <span class="title">Action</span>
              <p>
                <a href="/users/stop/<%=@post.id%>" data-method="post" data-confirm="This will end your live post. Are you sure you want to continue?" class="btn btn-less-padding margin-2 bolder">End Video</a>
              </p>
              <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
          <% elsif @post.status == "scheduled" %>
            <li class="collection-item avatar">
              <i class="material-icons circle red">fitness_center</i>
              <span class="title">Action</span>
              <p>
                <a href="/users/cancel/<%=@post.id%>" data-method="post" data-confirm="Are you sure you want to cancel this scheduled post?" class="btn btn-less-padding margin-2 bolder">Cancel Schedule</a>
              </p>
              <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
          <% end %>
          <li class="collection-item avatar">
            <i class="material-icons circle brown">label</i>
            <span class="title">Title</span>
            <p>
              <%=@post.title.capitalize%>
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle blue ">art_track</i>
            <span class="title">Caption</span>
            <p>
              <%=@post.caption.capitalize%>
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <img src="<%=@url%>" alt="" class="circle">
            <span class="title">Page</span>
            <p>
              <%=@name%>
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle red">play_arrow</i>
            <span class="title">Duration</span>
            <p>
              <%=@post.duration.hour %> Hours : <%=@post.duration.min%> Minutes
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle green">play_arrow</i>
            <span class="title">Status</span>
            <p>
              <%=status_message(@post)%>
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle cyan">play_arrow</i>
            <span class="title">Video Link</span>
            <p>
              <a href="https://www.facebook.com/<%=@post.video_id%>" target="_blank">Watch Video</a>
              <% unless @post.scheduled? %>
                <a href="/posts/<%=@post.id%>/share" class="btn btn-less-padding margin-2 bolder">Share</a>
              <% end %>
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
        </ul>        
        
        <div class="absolute hide-on-small-only" style=" bottom: 10px;">
        	
        </div>
      </div>
    </div>
  </div>
</div>