<% unless Constant::RTMP_TEMPLATE_IDS.include?(@post.template.id) %>
<div class="flexbox">
  <div class="container-extrawide">
    <ul class="collapsible" data-collapsible="accordion">
      <% @post.live_streams.each do |live_stream| %>
      <li>
        <div class="collapsible-header"><img src="<%=@pages[live_stream.page_id]['image'] rescue nil%>" alt="" class="circle relative" style=" top: 10px;"><span class="relative bold grey-text text-darken-1" style="left: 10px; top: -10px; font-size: 16px;"><%=@pages[live_stream.page_id]['name'] rescue nil%></span></div>
        <div class="collapsible-body" style="background-color: rgba(41, 43, 44, 0.9);">
          <ul class="collection">
          <% if live_stream.live? %>
            <li class="collection-item avatar">
              <i class="material-icons circle red">fitness_center</i>
              <span class="title">Action</span>
              <p>
                <%= link_to "End Live Stream", stop_live_stream_path(live_stream.id), data: {confirm: "This will end your live stream for this page. Are you sure you want to continue?", method: "post" }, class: "btn btn-less-padding margin-2 bolder"%>
              </p>
              <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
          <% elsif live_stream.scheduled? %>
            <li class="collection-item avatar">
              <i class="material-icons circle red">fitness_center</i>
              <span class="title">Action</span>
              <p>
                <%= link_to "Cancel schedule for this page", cancel_schedule_live_stream_path(live_stream.id), data: {confirm: "Are you sure you want to cancel this scheduled post?", method: "post" }, class: "btn btn-less-padding margin-2 bolder"%>
              </p>
              <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
          <% end %>
          <li class="collection-item avatar">
            <i class="material-icons circle green">play_arrow</i>
            <span class="title">Status</span>
            <p>
              <%=status_message(live_stream)%>
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <% unless live_stream.scheduled? %>
          <li class="collection-item avatar">
            <i class="material-icons circle cyan darken-2">play_arrow</i>
            <span class="title">Video Link</span>
            <p>
              <a href="https://www.facebook.com/<%=live_stream.video_id%>" target="_blank">Watch Video</a>
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle red lighten-2">share</i>
            <!-- <span class="title">Share</span> -->
            <p>
              <a href="/live_streams/<%=live_stream.id%>/share" class="btn btn-less-padding margin-2 bolder">Share</a>
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <% end %>
        </ul>
        </div>
      </li>
    <% end %>
    </ul>
  </div>
</div>
<% end %>
<div class="flexbox post-show">
  <div class="col s12 m6 l6">
  	<div class="card z-depth-4">
      <div class="card-content zero-padding">
        <% if @post.poll? %>
          <img src="<%=@post.image.url%>" class=" activator post-image">
        <% else %>
          <img src="/videos/frame.png" class=" activator post-image" style="max-width: 800px;">
        <% end %>
      </div>
      <div class="card-tabs">
        <ul class="tabs">
          <li class="tab"><a href="#status<%=@post.id%>">Status</a></li>
          <li class="tab"><a href="#duration<%=@post.id%>">Duration</a></li>
          <li class="tab"><a href="#action<%=@post.id%>">Action</a></li>
          <i class="activator material-icons right pointer" style="position: relative; top: 10px; right: 8px;">toc</i>
        </ul>
      </div>
      <div class="card-content grey lighten-4">
        <div id="status<%=@post.id%>"><%=status_message(@post)%></div>
        <div id="duration<%=@post.id%>"><%= @post.duration.hour %> Hours : <%=@post.duration.min%> Minutes</div>
        <div id="action<%=@post.id%>">
          <% if @post.live %>
            <%= link_to "End Video", stop_post_path(@post.id), data: {confirm: "This will end your live post. Are you sure you want to continue?", method: "post" }, class: "btn btn-less-padding margin-2 bolder"%>
          <% elsif @post.status == "scheduled" %>
            <%= link_to "Cancel Schedule", cancel_schedule_path(@post.id), data: {confirm: "Are you sure you want to cancel this scheduled post?", method: "post" }, class: "btn btn-less-padding margin-2 bolder"%>
          <% end %>
        </div>
      </div>
      <div class="card-reveal relative">
        <p class="card-title grey-text text-darken-1 bold" style="text-align: center;"><span class="relative" style="left: 20px">Details</span><i class="material-icons right">close</i></p>
        <ul class="collection">
          <% if @post.live %>
            <li class="collection-item avatar">
              <i class="material-icons circle red">fitness_center</i>
              <span class="title">Action</span>
              <p>
                <%= link_to "End Video", stop_post_path(@post.id), data: {confirm: "This will end your live post. Are you sure you want to continue?", method: "post" }, class: "btn btn-less-padding margin-2 bolder"%>
              </p>
              <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
          <% elsif @post.scheduled? %>
            <li class="collection-item avatar">
              <i class="material-icons circle red">fitness_center</i>
              <span class="title">Action</span>
              <p>
                <%= link_to "Cancel Schedule", cancel_schedule_path(@post.id), data: {confirm: "Are you sure you want to cancel this scheduled post?", method: "post" }, class: "btn btn-less-padding margin-2 bolder"%>
              </p>
              <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
          <% end %>
          <li class="collection-item avatar">
            <i class="material-icons circle brown">label</i>
            <span class="title">Title</span>
            <p>
              <%=@post.title.capitalize rescue nil%>
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle blue ">art_track</i>
            <span class="title">Caption</span>
            <p>
              <%=@post.caption.capitalize rescue nil%>
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <% unless @post.link.nil? %>
          <li class="collection-item avatar">
            <i class="material-icons circle lime accent-2" style="font-size: 26px;">insert_link</i>
            <span class="title">Source Video URL</span>
            <p>
              <%=@post.link.url%>
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <% end %>
          <% if Constant::RTMP_TEMPLATE_IDS.include?(@post.template.id) %>
          <li class="collection-item avatar">
            <i class="material-icons circle orange accent-3">live_tv</i>
            <span class="title">Target URL</span>
            <p>
              <%=@post.live_streams.first.key%>
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <% end %>
          <li class="collection-item avatar">
            <i class="material-icons circle red">access_alarm</i>
            <span class="title">Duration</span>
            <p>
              <%=@post.duration.hour %> Hours : <%=@post.duration.min%> Minutes
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle green">event_note</i>
            <span class="title">Status</span>
            <p>
              <%=status_message(@post)%>
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
        </ul>        
        
        <div class="absolute hide-on-small-only" style=" bottom: 10px;">
        	
        </div>
      </div>
    </div>
  </div>
</div>


