<html>

  <head>
    <title>Frame Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>       
    <div class="random" style="position: absolute; z-index: 100000; opacity: 0.9;">
      <b style="position: absolute; z-index: 100000;">
        <img style="position: absolute; z-index: 100000;" src="../../../small_logo.png" width="80" height="40"">
      </b>
    </div>
    <div class="wrapper">
      <div class="pg1">
        <img src="<%=ENV['prefix']%><%=images[0].file.url%>" class="unskew" width="432px" height="450px" style="position: absolute; left: 40px;">
        <div class="unskew cbg" style="top: 380px; left: 150px;">
          <img src="../../../reactions/<%=images[0].reaction%>.gif" width="50px" style="float: left;">
          <div class="counter" id="<%=images[0].reaction%>">
            0
          </div>
        </div>
      </div>
      <div class="pg2">
        <img src="<%=ENV['prefix']%><%=images[1].file.url%>" class="unskew" width="432px" height="450px" style="position: absolute; right: 40px;">
        <div class="unskew cbg" style="top: 10px; right: 150px;">
          <img src="../../../reactions/<%=images[1].reaction%>.gif" width="50px" style="float: left;">
          <div class="counter" id="<%=images[1].reaction%>">
            0
          </div>
        </div>
      </div>
      <img src="../../../templates/6/vs.png" width="100px" style="position: absolute; top: 180px; left: 350px">
    </div>
    <script>
        var postID = "<%= post.video_id %>";
        var access_token = "<%=post.page_access_token%>";
        var refreshTime = 3;
        var defaultCount = 0;
        var reactions = ['LIKE', 'LOVE', 'WOW', 'HAHA', 'SAD', 'ANGRY'].map(function (e) {
            var code = 'reactions_' + e.toLowerCase();
            return 'reactions.type(' + e + ').limit(0).summary(total_count).as(' + code + ')'
        }).join(',');

        var	v1 = $('#<%=images[0].reaction%>'),
        	v2 = $('#<%=images[1].reaction%>');

        function refreshCounts() {
            var url = 'https://graph.facebook.com/v2.8/?ids=' + postID + '&fields=' + reactions + '&access_token=' + access_token;
        	$.getJSON(url, function(res){
        		v1.text(defaultCount + res[postID].reactions_<%=images[0].reaction%>.summary.total_count);
        		v2.text(defaultCount + res[postID].reactions_<%=images[1].reaction%>.summary.total_count);
        	});
        }

        $(document).ready(function(){
            setInterval(refreshCounts, refreshTime * 1000);
            refreshCounts();
        });
    </script>
    <style>
      .wrapper{
    width: 800px;
    height: 450px;
    background: rgb(249,4,4);
    background: -moz-linear-gradient(top,  rgba(249,4,4,1) 0%, rgba(143,2,34,1) 44%, rgba(71,0,0,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(249,4,4,1) 0%,rgba(143,2,34,1) 44%,rgba(71,0,0,1) 100%);
    background: linear-gradient(to bottom,  rgba(249,4,4,1) 0%,rgba(143,2,34,1) 44%,rgba(71,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f90404', endColorstr='#470000',GradientType=0 );
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    }
    .pg1{
    width: 433px;
    height: 450px;
    background-color: gray;
    transform: skew(-10deg);
    position: absolute;
    left: -40px;
    overflow: hidden;
    }
    .pg2{
    width: 433px;
    height: 450px;
    background-color: gray;
    transform: skew(-10deg);
    position: absolute;
    right: -40px;
    overflow: hidden;
    }
    .unskew{
    transform: skew(10deg);
    }
    .cbg{
    position: absolute;
    width:200px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    }
    .counter{
    width: 145px;
    height: 50px;
    float: right;
    font-size: 55px;
    text-align: center;
    margin-top: -10px;
    color: darkred;
    font-family: 'Teko', sans-serif;
    }
    .random b {
      position: absolute;
      display: block;
      z-index: 100000;
      -webkit-animation: moveX 14s linear 0s infinite alternate, moveY 13.4s linear 0s infinite alternate;
      -moz-animation: moveX 14s linear 0s infinite alternate, moveY 13.4s linear 0s infinite alternate;
      -o-animation: moveX 14s linear 0s infinite alternate, moveY 13.4s linear 0s infinite alternate;
      animation: moveX 14s linear 0s infinite alternate, moveY 13.4s linear 0s infinite alternate;
    }

    @-webkit-keyframes moveX {
      from { left: 0; } to { left: 705px; }
    }
    @-moz-keyframes moveX {
      from { left: 0; } to { left: 705px; }
    }
    @-o-keyframes moveX {
      from { left: 0; } to { left: 705px; }
    }
    @keyframes moveX {
      from { left: 0; } to { left: 705px; }
    }
    @-webkit-keyframes moveY {
      from { top: 0; } to { top: 395px; }
    }
    @-moz-keyframes moveY {
      from { top: 0; } to { top: 395px; }
    }
    @-o-keyframes moveY {
      from { top: 0; } to { top: 395px; }
    }
    @keyframes moveY {
      from { top: 0; } to { top: 395px; }
    }

    </style>
  </body>
</html>