<div class="carousel-item white-text" href="#<%=template.id%>">
  <center>
    <div class="card sticky-action plugin hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/templates/template<%=template.id%>.jpg">
      </div>
      <div class="card-content" style="padding: 10px 10px 0 10px !important;">
        <span class="card-title activator grey-text text-darken-2 bolder" ><span class="relative" style="left: 20px;"><%=template.name%></span><i class="material-icons right">more_vert</i></span>
      </div>
      <% if template.poll? %>
        <div class="card-action" style="padding: 10px !important;"><a class="btn waves-effect" href="/polls/new?template=<%=template.id%>">Try Now</a> </div>
      <% elsif template.loop_video? %>
        <div class="card-action" style="padding: 10px !important;"><a class="btn waves-effect" href="/loop_videos/new?template=<%=template.id%>">Try Now</a> </div>
      <% else %>
        <div class="card-action" style="padding: 10px !important;"><a class="btn waves-effect" href="/url_videos/new?template=<%=template.id%>">Try Now</a> </div>
      <% end %>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-2 bolder"><span class="relative" style="left: 20px;">Features</span><i class="material-icons right">close</i></span>
        <div class="collection">
          <% template.features.each do |feature| %>
            <a class="collection-item grey-text text-darken-2">
              <%=feature.description%>
            </a>
          <%end%>
        </div>
      </div>
    </div>
  </center>
</div>