<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">

<div id="donor-pack-modal" class="modal">
  <div class="modal-content">
    <h4 class="grey-text text-darken-1 center">Select Payment Method</h4>
    <ul class="collection">
    <li class="collection-item avatar">
      <img src="/instamojo_logo.png" alt="" class="circle">
      <div class="row zero-margin">
        <a data-href="<%=ENV['DONOR_PACK_URL']%>" class="title col s10 offset-s1 btn checkout-btn">Instamojo</a>
      </div>
      <p class="center">
        Recommended for Indian Users. </br>
        Supports Debit/Credit Cards, Internet Banking, E-Wallets and UPI.
      </p>
    </li>
    <li class="collection-item avatar">
      <img src="/paypal_logo.png" alt="" class="circle">
      <div id="donor-checkout" data-cost="<%=Constant::DONOR_COST%>" data-plan="<%=Constant::DONOR_PLAN_NAME%>" class="purchase-button"></div>
      <p class="center">
        Recommended for International Users. </br>
        Supports Debit/Credit Cards and PayPal wallet.
      </p>
    </li>
  </ul>
  </div>
</div>

<div id="premium-pack-modal" class="modal">
  <div class="modal-content">
    <h4 class="grey-text text-darken-1 center">Select Payment Method</h4>
    <ul class="collection">
    <li class="collection-item avatar">
      <img src="/instamojo_logo.png" alt="" class="circle">
      <div class="row zero-margin">
        <a data-href="<%=ENV['PREMIUM_PACK_URL']%>" class="title col s10 offset-s1 btn checkout-btn">Instamojo</a>
      </div>
      <p class="center">
        Recommended for Indian Users. </br>
        Supports Debit/Credit Cards, Internet Banking, E-Wallets and UPI.
      </p>
    </li>
    <li class="collection-item avatar">
      <img src="/paypal_logo.png" alt="" class="circle">
      <div id="premium-checkout" data-cost="<%=Constant::PREMIUM_COST%>" data-plan="<%=Constant::PREMIUM_PLAN_NAME%>" class="purchase-button"></div>
      <p class="center">
        Recommended for International Users. </br>
        Supports Debit/Credit Cards and PayPal wallet.
      </p>
    </li>
  </ul>
  </div>
</div>

<div id="ultimate-pack-modal" class="modal">
  <div class="modal-content">
    <h4 class="grey-text text-darken-1 center">Select Payment Method</h4>
    <ul class="collection">
    <li class="collection-item avatar">
      <img src="/instamojo_logo.png" alt="" class="circle">
      <div class="row zero-margin">
        <a data-href="<%=ENV['ULTIMATE_PACK_URL']%>" class="title col s10 offset-s1 btn checkout-btn">Instamojo</a>
      </div>
      <p class="center">
        Recommended for Indian Users. </br>
        Supports Debit/Credit Cards, Internet Banking, E-Wallets and UPI.
      </p>
    </li>
    <li class="collection-item avatar">
      <img src="/paypal_logo.png" alt="" class="circle">
      <div id="ultimate-checkout" data-cost="<%=Constant::ULTIMATE_COST%>" data-plan="<%=Constant::ULTIMATE_PLAN_NAME%>" class="purchase-button"></div>
      <p class="center">
        Recommended for International Users. </br>
        Supports Debit/Credit Cards and PayPal wallet.
      </p>
    </li>
  </ul>
  </div>
</div>

<div class="pricing-page v valign-wrapper bolder">
  <div class="c ci">
    <div class="d iv jc offset-m1">
      <div class="c">
        <div class="d iv kr">
          <div class="pricing-table">
            <div class="pricing-header">
              <i class="icon-paper-plane"></i>
              <h4>Donor</h4>
              <div class="gd">
                <span class="hm">$</span>
                <span class="dollars"><%=Constant::DONOR_COST%></span>
              </div>
            </div>
            <ul class="pricing-features">
              <li class="pricing-feature"><i class="icon-accept"></i>1 Month validity.</li>
              <li class="pricing-feature"><i class="icon-accept"></i>Unlimited Streaming Minutes.</li>
              <li class="pricing-feature"><i class="icon-accept"></i>Watermark Removed.</li>
              <li class="pricing-feature"><i class="icon-accept"></i><%=Constant::DONOR_SCHEDULED_POST_LIMIT%> Scheduled Posts.</li>
              <li class="pricing-feature"><i class="icon-accept"></i>2 Hours Max. Video Duration. </li>
              <li class="pricing-feature"><i class="icon-accept"></i>Upload Video File Upto 500MB.</li>
              <li class="pricing-feature au"><i class="icon-close"></i>Premium Templates.</li>
              <li class="pricing-feature au"><i class="icon-close"></i>Multiple Live at Same Time.</li>
            </ul>
            <div class="flexbox">
              <a href="#donor-pack-modal" class="pay-now-btn waves-effect waves-light btn modal-trigger">Pay Now</a>
            </div>
          </div>
        </div>


        <div class="d iv kr center-package">
          <div class="pricing-table fk">
            <div class="pricing-header">
              <i class="icon-plane"></i>
              <h4>Premium</h4>
              <div class="gd">
                <span class="hm">$</span>
                <span class="dollars"><%=Constant::PREMIUM_COST%></span>
              </div>
            </div>
            <ul class="pricing-features">
              <li class="pricing-feature"><i class="icon-accept"></i>1 Month validity.</li>
              <li class="pricing-feature"><i class="icon-accept"></i>Unlimited Streaming Minutes.</li>
              <li class="pricing-feature"><i class="icon-accept"></i>Watermark Removed.</li>
              <li class="pricing-feature"><i class="icon-accept"></i><%=Constant::PREMIUM_SCHEDULED_POST_LIMIT%> Scheduled Posts.</li>
              <li class="pricing-feature"><i class="icon-accept"></i>4 Hours Max. Video Duration.</li>
              <li class="pricing-feature"><i class="icon-accept"></i>Upload Video File Upto 1000MB.</li>
              <li class="pricing-feature"><i class="icon-accept"></i>Premium Templates.</li>
              <li class="pricing-feature au"><i class="icon-close"></i>Multiple Live at Same Time.</li>
            </ul>
            <div class="flexbox">
              <a href="#premium-pack-modal" class="pay-now-btn waves-effect waves-light btn modal-trigger">Pay Now</a>
            </div>
          </div>
        </div>

        <div class="d iv kr">
          <div class="pricing-table">
            <div class="pricing-header">
              <i class="icon-rocket"></i>
              <h4>Ultimate</h4>
              <div class="gd">
                <span class="hm">$</span>
                <span class="dollars"><%=Constant::ULTIMATE_COST%></span>
              </div>
            </div>
            <ul class="pricing-features">
              <li class="pricing-feature"><i class="icon-accept"></i>1 Month Validity.</li>
              <li class="pricing-feature"><i class="icon-accept"></i>Unlimited Streaming Minutes.</li>
              <li class="pricing-feature"><i class="icon-accept"></i>Watermark Removed.</li>
              <li class="pricing-feature"><i class="icon-accept"></i><%=Constant::ULTIMATE_SCHEDULED_POST_LIMIT%> Scheduled Posts.</li>
              <li class="pricing-feature"><i class="icon-accept"></i>8 Hours Max. Video Duration.</li>
              <li class="pricing-feature"><i class="icon-accept"></i>Upload Video File Upto 2000MB.</li>
              <li class="pricing-feature"><i class="icon-accept"></i>Premium Templates.</li>
              <li class="pricing-feature"><i class="icon-accept"></i>Multiple Live at Same Time.</li>
            </ul>
            <div class="flexbox">
              <a href="#ultimate-pack-modal" class="pay-now-btn waves-effect waves-light btn modal-trigger">Pay Now</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>  
<!-- <div id="paypal-button"></div> -->
</script>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script>
  ['#donor-checkout','#premium-checkout','#ultimate-checkout'].forEach(function(selector){
    <% if current_user and !current_user.banned %>
      <% if current_user.member? %>
        user_id = <%= current_user.id %>;
      <% else %>
        user_id = -2;
      <% end %>
    <% elsif current_user %>
    user_id = -1;
    <% else %>
    user_id = null; 
    <% end %>
    var cost = $(selector).attr("data-cost");
    var packageName = $(selector).attr("data-plan")
    paypal.Button.render({
      <% if Rails.env.production? %>
        env: 'production',
      <% else %>
        env: 'sandbox',
      <% end %>
      client: {
          sandbox: "<%=ENV["DEV_PAYPAL_CLIENT_ID"]%>",
          production: "<%=ENV["PROD_PAYPAL_CLIENT_ID"]%>"
      },
      locale: 'en_US',

      style: {
        color: "silver", 
        shape: "rect",
        size: "responsive",
        label: 'checkout'
      },
      // Show a 'Pay Now' button
      commit: true,
      
      payment: function(data, actions) {
        if(user_id > 0 && user_id != null)
        {
          return actions.payment.create({
            transactions: [
              {
                amount: { total: cost, currency: 'USD' },
                item_list: {
                  items: [
                    {
                      "quantity": "1",
                      "name": packageName,
                      "price": cost,
                      "currency": "USD",
                    }
                  ]
                }
              }
            ]
          });
        }
        else
        {
          message = "Please sign-in to continue with your purchase."
          if(user_id == -1)
          {
            message = "You are temporarily banned! Please contact our support center for more information.";
          }
          else if(user_id == -2)
          {
            message = "You are already enrolled with a package. You can upgrade/downgrade to different package only after this subscription ends."
          }
          $.alert({
              theme: "supervan",
              useBootstrap: false,
              title: "Alert!",
              content: message
            }
          );
          return false;
        }
      },

      onAuthorize: function(data, actions) {
        return actions.payment.execute().then(function(payment) {
          tx_id = payment.transactions[0].related_resources[0].sale.id;
          payment_id = payment.id;
          amount = payment.transactions[0].amount.total;
          $.ajax({
              url: '/payments/paypal/create',
              method: "POST",
              data: {
                  user_id: user_id,
                  tx_id: tx_id,
                  payment_id: payment_id,
                  amount: amount
              },
              beforeSend: function() {
                
              },
              success: function(data) {
                setTimeout(function(){
                  $.dialog({
                    theme: "supervan",
                    boxWidth: width,
                    useBootstrap: false,
                    title: "Waiting For Payment Confimation !!!",
                    content: "Please wait while we confirm payment status. You will be automatically redirected.",
                    onOpenBefore: function () {
                      $(".jconfirm-closeIcon").hide();
                    }
                  });
                },1);
                window.location = window.location.origin + "/payments/paypal/verify/" + payment_id;
              },
              error: function(error) {
                $.alert({
                  theme: "supervan",
                  boxWidth: width,
                  useBootstrap: false,
                  title: "Unsuccessful Payment!",
                  content: "Payment was unsuccessful. In case of any trouble or doubt, please contact us."
                })
              }
          });
        });
      },
      
      onCancel: function(data, actions) {
        $.alert({
          theme: "supervan",
          useBootstrap: false,
          title: "Unsuccessful Payment!",
          content: "Payment was unsuccessful. In case of any trouble or doubt, please contact us."
        });
      }

    },selector);
  });
  </script>

 <script>
  $( document ).ready(function(){
    $(".checkout-btn").on("click",function(e){
      var emailId = null;
      <% if current_user and !current_user.banned %>
        emailId = "<%=current_user.email%>" ;
        <% if current_user.member? %>
          user_id = <%= current_user.id %>;
        <% else %>
          user_id = -2;
        <% end %>
      <% elsif current_user %>
        user_id = -1;
      <% else %>
        user_id = null; 
      <% end %>
      var showError = false;
      var message = null;
      if(user_id == null)
      {
        message = "Please sign-in to continue with your purchase."
        showError = true;
      }
      else if(user_id == -1)
      {
        message = "You are temporarily banned! Please contact our support center for more information.";
        showError = true;
      }
      else if(user_id == -2)
      {
        message = "You are already enrolled with a package. You can upgrade/downgrade to different package only after this subscription ends."
        showError = true;
      }
      if(showError)
      {
          $.alert({
          theme: "supervan",
          useBootstrap: false,
          title: "Alert!",
          content: message
        });
        e.preventDefault();
      }
      else
      {
        console.log("reched destination");
        Instamojo.open($(this).attr("data-href").replace("dummy-email",emailId));
      }
    });
  }); 
 </script>
<style>
.dv .c {
    margin-left: -.75rem;
    margin-right: -.75rem
}
.v {
    padding-top: 1rem;
    padding-bottom: 1rem
}
.c {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px
}
.c:after {
    content: "";
    display: table;
    clear: both
}
.c .d {
    float: left;
    box-sizing: border-box;
    padding: 0 .75rem;
    min-height: 1px
}
.c .d.jw {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
}
.c .d.jx {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
}
.c .d.jy {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto
}
.c .d.jz {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
}
.c .d.kc {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
}
.c .d.ka {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto
}
.c .d.kb {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
}
.c .d.jt {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
}
.c .d.ju {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto
}
.c .d.ix {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
}
.c .d.iy {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
}
.c .d.iv {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto
}
@media only screen and (min-width: 650px) {
    .c .d.ku {
        width: 8.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.kt {
        width: 16.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.ko {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.kr {
        width: 33.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.ks {
        width: 41.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.jo {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.jq {
        width: 58.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.kw {
        width: 66.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.kx {
        width: 75%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.jc {
        width: 83.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.iw {
        width: 91.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.jd {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.offset-m1 {
        margin-left: 8.3333333333%
    }
}
@media only screen and (min-width: 993px) {
    .c .d.kh {
        width: 8.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.kj {
        width: 16.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.ki {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.kk {
        width: 33.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.kd {
        width: 41.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.ke {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.kl {
        width: 58.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.kn {
        width: 66.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.km {
        width: 75%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.jh {
        width: 83.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.jg {
        width: 91.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.ji {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto
    }
}
@media only screen and (min-width: 1201px) {
    .c .d.jk {
        width: 8.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.ja {
        width: 16.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.jj {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.iu {
        width: 33.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.jm {
        width: 41.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.jl {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.je {
        width: 58.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.jn {
        width: 66.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.iz {
        width: 75%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.ip {
        width: 83.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.il {
        width: 91.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.iq {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto
    }
}
.pricing-table {
    margin-top: 50px;
    border: 2px solid #1de9c3;
    display: flex;
    flex-direction: column;
}
.pricing-table.fk {
    margin-top: 0
}
.pricing-table.fk .pricing-header {
    padding: 45px 0
}
.pricing-table .pricing-header {
    position: relative;
    padding: 20px 0;
    text-align: center
}
.pricing-table .pricing-header i {
    position: absolute;
    top: 0;
    left: 50%;
    width: 80px;
    padding-left: 5px;
    margin-left: -40px;
    font-size: 28px;
    background-color: white;
    transform: translateY(-50%)
}
.pricing-table .pricing-header .gd {
    font-size: 60px;
    line-height: 60px
}
.pricing-table .pricing-header .gd .hm,
.pricing-table .pricing-header .gd .ic {
    font-weight: 300;
    margin: 0 -10px;
    font-size: 20px;
    line-height: 42px;
    vertical-align: text-top
}
.pricing-table .pricing-features {
    margin: 0;
    padding: 10px 0 30px
}
.pricing-table .pricing-features .pricing-feature {
    font-weight: 500;
    padding: 10px 20px;
    text-align: center
}
.pricing-table .pricing-features .pricing-feature i {
    margin-right: 18px
}
.pricing-table .pricing-features .pricing-feature.au,
.pricing-table .pricing-features .pricing-feature.au i {
    color: rgba(19, 192, 160,1)
}
.pricing-table .pricing-features .pricing-feature:hover {
    background-color: rgba(29, 233, 195, 0.2)
}
.v.l .pricing-header i {
    background-color: #fff
}
.v.r .pricing-header i,
.page-footer .v.footer-copyright .pricing-header i {
    background-color: #42c4ac
}
.v.r .pricing-features .pricing-feature.au,
.page-footer .v.footer-copyright .pricing-features .pricing-feature.au,
.v.r .pricing-features .pricing-feature.au i,
.page-footer .v.footer-copyright .pricing-features .pricing-feature.au i {
    color: rgba(12, 123, 102, 0.5)
}
@media only screen and (max-width: 650px) {
    .pricing-table {
        margin-top: 50px
    }
    .pricing-table.fk {
        margin-top: 50px
    }
}
.cg,
.v.cg {
    margin: 0;
    padding: 0;
    height: auto
}
.cg .c,
.v.cg .c {
    margin: 0
}
.cg .cz,
.v.cg .cz {
    position: relative;
    height: 256px
}
.cg .cz:hover .fz,
.v.cg .cz:hover .fz {
    transform: scale(1) translate(-50%, -50%)
}
.cg .cz:hover .cx,
.v.cg .cz:hover .cx {
    opacity: 1
}
.cg .cz .fz,
.v.cg .cz .fz {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(0.8) translate(-50%, -50%);
    transform-origin: 0 0;
    transition: transform .2s
}
.cg .cz .cx,
.v.cg .cz .cx {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    text-align: center;
    line-height: 256px;
    font-size: 40px;
    font-weight: 300;
    color: #fff;
    transition: opacity .2s
}
pricing-page [class^="icon-"],
pricing-page [class*=" icon-"] {
    font-family: 'simple-line-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.fr {
    height: 100%;
    z-index: 0;
    transform-style: preserve-3d
}
.fn,
.v.fn {
    max-height: 100%;
    width: 100%;
    transform: translateY(-100%);
    z-index: 0
}
.fn[data-disabled="true"],
.v.fn[data-disabled="true"] {
    max-height: none;
    transform: none
}
.fn.shuffle-under-end,
.v.fn.shuffle-under-end {
    z-index: 2
}
.fn.shuffle-under-active,
.v.fn.shuffle-under-active {
    z-index: 1
}
.gl {
    position: relative;
    height: 100%;
    perspective: 1000px
}
.gl .fixed-wrapper {
    position: relative;
    height: 100%;
    transform-origin: 50% 100%;
    overflow: hidden
}
@media screen and (orientation: portrait) {
    .gl .fixed-wrapper .bz,
    .gl .fixed-wrapper .bz img {
        width: auto;
        height: 100%
    }
}
body {
    background-color: #000;
}
body.light-theme {
    background-color: #fff;
    color: #444
}
@media only screen and (min-width: 993px) {
    .dv {
        width: 80%
    }
}
.v i {
    color: #1de9c3;
}
.primary-color {
    background-color: #1de9c3 !important
}
.primary-color-text {
    color: #1de9c3 !important
}
.eh {
    margin: 40px 0
}
.c.ci {
    width: 100%
}
.bz {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1
}

.v {
    position: relative;
    padding: 64px 0;
    height: 100%;
    color: #464545;
    overflow: hidden;
    background-color: white;
    z-index: 3
}
.v.l {
    color: #444
}
.v.l h1,
.v.l h2,
.v.l h3,
.v.l h4,
.v.l h5 {
    color: #444
}
.v.r,
.page-footer .v.footer-copyright {
    color: rgba(0, 0, 0, 0.6);
    background-color: #42c4ac
}
.v.r h1,
.page-footer .v.footer-copyright h1,
.v.r h2,
.page-footer .v.footer-copyright h2,
.v.r h3,
.page-footer .v.footer-copyright h3,
.v.r h4,
.page-footer .v.footer-copyright h4,
.v.r h5,
.page-footer .v.footer-copyright h5 {
    color: #fff
}
.v.gradient-1 {
    background: #00af8e;
    background: -moz-linear-gradient(top, #c 0%, #a 100%);
    background: -webkit-linear-gradient(top, #c 0%, #a 100%);
    background: linear-gradient(to bottom, #c 0%, #a 100%);
    filter: progid: DXImageTransform.du.gradient( startColorstr='#00af8e', endColorstr='#61ccb6', GradientType=0)
}
.v.gradient-2 {
    background: #61ccb6;
    background: -moz-linear-gradient(top, #a 0%, #b 100%);
    background: -webkit-linear-gradient(top, #a 0%, #b 100%);
    background: linear-gradient(to bottom, #a 0%, #b 100%);
    filter: progid: DXImageTransform.du.gradient( startColorstr='#61ccb6', endColorstr='#6ee5c9', GradientType=0)
}
.v.full-height {
    height: auto
}
.v.half-height {
    height: 50%
}
.v .section-title {
    margin-bottom: 30px
}
.v .ek {
    font-size: 1.4rem;
    font-weight: 200
}
.v .d {
    min-height: 1px
}

.checkout-btn, .pay-now-btn
{
  border-radius: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 650px),
only screen and (max-device-width: 650px) and (orientation: landscape) {
    .v {
        height: auto
    }
    .v.full-height .valign-wrapper {
        display: block
    }
}
</style>