<html>
  <head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/video.js/6.3.3/video-js.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/video.js/6.3.3/video.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  </head>

  <body>
    <% if Rails.env.production? %>
      <% video_url = post.get_file_url%>
    <% else %>
      <% video_url = "1.mp4" %>
    <% end %>
    <video loop id="video" width=1280 height=720 class="video-js vjs-default-skin" data-setup='{ "controls": false, "autoplay": true, "preload": "auto"}'>
      <source src="<%=video_url%>" type="video/mp4">
      <source src="<%=video_url%>" type="video/ogg">
      <source src="<%=video_url%>" type="video/webm">
    </video>

    <% unless images.nil? %>
      <% images.each do |img| %>
        <% if Rails.env.production? %>
          <% url = img.file.url%>
        <% else %>
          <% url = img.file.url.split("/").last %>
        <% end %>
        <img src="<%=url%>" height=<%=img.height%> width=<%=img.width%> style="position: absolute; top: <%=img.position_y%>; left: <%=img.position_x%> ;">
      <%end%>
    <% end %>

    <% unless extra_texts.nil? %>
      <% extra_texts.each do |extra_text| %>
        <p style="line-height: <%=extra_text.font_size%>px; position: absolute; top: <%=extra_text.position_y%>; left: <%=extra_text.position_x%> ; color: <%=extra_text.color%>; font-family: 'Arial'; font-size: <%=extra_text.font_size%>; "><%= extra_text.text %></p>
      <% end %>
    <% end %>
    <script>
      var player = videojs('video');
      player.play();
    </script>
    <style>
      *{
        padding: 0;
        margin: 0;
      }
    </style>
  </body>

</html>