<center>
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-4726706343331157"
       data-ad-slot="5921286380"
       data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</center>

<div class="row"><%= link_to "Sign Out", destroy_moderator_session_path, method: "delete",class: "btn col s4 m2 l1" %></div>
<div class="white privacy-box card hoverable z-depth-4">
  <table class="responsive-table striped">
    <thead>
        <tr>
            <th data-field="title">Title</th>
            <th data-field="name">User Name</th>
            <th data-field="status">Status</th>
            <th data-field="duration">Duration</th>
            <th data-field="link">Video Link</th>
            <th data-field="action">Action</th> 
            <th data-field="destroy">Destroy</th>
            <th data-field="cancel">Cancel Schedule</th>
        </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.user.name %></td>
          <td><%= status_message(post) %></td>
          <td><%= post.duration.hour %>hrs:<%=post.duration.min%>min</td>
          <td>
          <% unless post.video_id.nil? %>
            <a href="https://www.facebook.com/<%=post.video_id%>">Watch Video</a>
          <% end %>
          </td>
          <td>
          <% if post.live %>
            <a href="/moderators/stop/<%=post.id%>" data-method="post" data-confirm="This will end your live post. Are you sure you want to continue?" class="btn btn-less-padding margin-2 bolder">End</a>
          <% else %>
            <a href="/moderators/start/<%=post.id%>" data-method="post" data-confirm="This will start this post. Are you sure you want to continue?" class="bolder">Start</a>
          <% end %>
        </td>
        <td>
          <a href="/moderators/destroy/<%=post.id%>" data-method="post" data-confirm="This will destroy this post from Database. Are you sure you want to continue?" class="bolder">Destroy</a>
        </td>
        <td>
          <% if post.scheduled? %>
          <a href="/moderators/cancel/<%=post.id%>" data-method="post" data-confirm="Are you sure you want to cancel this scheduled post?" class="btn btn-less-padding margin-2 bolder dull-purple">Cancel</a>
        <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>