<!DOCTYPE html>
<html>
<head>
  
  <title>Shuriken Live</title>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="description" content="A tool for posting customized FB Live videos for polling purpose. We can help you make facebook live polls without using OBS or any other script. Just choose one of the awesome templates that we provide with the support of GIF images and fill some simple details related to your poll, and you are all set to post to your facebook page and boost your reach.">
    <meta name="keywords" content="Fb,facebook,live,streaming,codingninjas,shuriken,shurikenlive,best,obs,script,poll,video,aakash,gupta,templates,GIF,reactions">
    <link rel="shortcut-icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body>
  
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-4726706343331157",
      enable_page_level_ads: true
    });
  </script>    
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '241493676272963',
        xfbml      : true,
        version    : 'v2.9'
      });
      FB.AppEvents.logPageView();
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>

  <div id="cover">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
  <nav class="radial-gradient">
    <div class="nav-wrapper container-wide no-pad" id="nav-container">
      <a href="/" class="brand-logo"><img src="/logo1.png" class="logo"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse white-text"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/" class="nav-option center-align">Home</a></li>
        <li><a href="/demo" class="nav-option center-align">Watch Demo</a></li>
        <li style=" margin-right: 10px;">
          <div class='dropdown-button waves-effect waves-light btn' data-activates='dropdown1'>
            <i class="material-icons left relative" style="top: -13px;">videocam</i>Plugins<span class="newFeature">New</span>
          </div>
            <ul id='dropdown1' class='dropdown-content'>
              <li><%= link_to "Live Polling", poll_templates_path%></li>
              <li class="divider"></li>
              <li><%= link_to "Stream Video", loop_video_templates_path%></li>
            </ul>
        </li>

        <% if user_signed_in? %>
          <li>
            <div class='dropdown-button waves-effect waves-light btn greenish' data-activates='dropdown2' style="max-width : 220px;">
              <i class="material-icons left relative" style="top:-13px;">perm_identity</i><%=current_user.name.split.first %>
            </div>
            <ul id='dropdown2' class='dropdown-content'>
              <li><%= link_to "My Posts", myposts_path%></li>
              <li class="divider"></li>
              <li><a href="/users/sign_out" data-confirm="Are you sure?" data-method="DELETE">Log Out</a></li>
            </ul>
          </li>
        <% else %>
          <li><a href="/users/auth/facebook" class="nav-option session_button waves-effect waves-light btn greenish row"><i class="fa fa-facebook-official col s2 relative" aria-hidden="true" style="font-size: 30px; bottom: 14px; right: 30px; "></i><span class="col s9 relative" style="left: 5px;">Log In</span></a></li>
        <% end %>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/demo">Watch Demo</a></li>
        <% if user_signed_in? %>
          <li><%= link_to "My Posts", myposts_path%></li>
        <% end %>
        <li>
          <a href="/polls/templates" class="waves-effect waves-light btn">Live Polling</a>
          <a href="/loop_videos/templates" class="waves-effect waves-light btn">Stream Video</a>
        </li>
        <% if user_signed_in? %>
          <li><a href="/users/sign_out" class="waves-effect waves-light btn greenish" data-confirm="Are you sure?" data-method="DELETE">Log Out</a></li>
        <% else %>
          <li><a href="/users/auth/facebook" class="waves-effect waves-light btn greenish">Log In with FB</a></li>
        <% end %>
      </ul>
    </div>
  </nav>
  
  <% unless notice.nil? %>
    <script>
      Materialize.toast('<%=notice%>', 5000) 
    </script>
  <% end %>

   <% unless alert.nil? %>
   <div id= "alert" style="display: none;"><%=alert%></div>
   <script >
     var x = document.getElementById("alert").innerHTML
     alert(x)
   </script>
  <% end %>

<% unless current_user_is_donor? %>  
<!-- <div id="donation" class="absolute center-align z-depth-5 linear-gradient padding-5 card
.">
  <a href="" class="close-button"><i class="material-icons">close</i>
  <a href="/donation" class="donate-anchor"><img src="/donate.png" class="donate-image"></a>
  <div class="donation-message">Donate for the future development of this project and enjoy <span class="bold">PREMIUM FEATURES.</span><br><a href="/donation" class="white-text">More Info...</a></div>
</div> -->
<% end %>

<main>
<%= yield %>
</main>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- text only -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4726706343331157"
     data-ad-slot="5165773760"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<footer class="page-footer radial-gradient">
    <div class="row">
      <div class="row">
        <div class="col l5 m12 s12">
          <h5 class="white-text bolder">About Us</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project. Any donation would help us in paying server charges, hosting bills and continue development on this project and is greatly appreciated. Contact us for more details.</p>
        </div>

        <div class="col l2 m4 s6">
          <h5 class="white-text bolder">Developed By</h5>
          <ul>
            <li><a class="white-text" href="https://www.linkedin.com/in/aakash-gupta-876883124">Aakash Gupta</a></li>
            <li><a class="white-text" href="#">Apoorva Sharma</a></li>
          </ul>
        </div>
        
        <div class="col l2 m4 s6">
          <h5 class="white-text bolder">Guided By</h5>
          <ul>
            <li><a class="white-text" href="https://in.linkedin.com/in/ankushsingla">Ankush Singla</a></li>
            <li><a class="white-text" href="https://in.linkedin.com/in/tushar-tuteja-00350613">Tushar Tuteja</a></li>
          </ul>
        </div>
        <div class="col l3 m4 s12">
          <h5 class="white-text bolder">Contact Us</h5>
          <ul>
            <li class="white-text">
              <i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:aakash@shurikenlive.com" class="white-text">aakash@shurikenlive.com</a>
            </li>
            <!--<li class="white-text">-->
              <!--<i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:apoorva.11596@gmail.com" class="white-text">apoorva.11596@gmail.com</a>-->
            <!--</li>-->
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container-extrawide">
        © 2017 <span class="bolder">Shuriken Live</span>
        <a class="white-text right" href="/terms" style="margin-left: 20px;">Terms and Conditions</a>
        <a class="white-text right" href="/privacy">Privacy </a>
      </div>
    </div>
  </footer>

</body>
</html>