<!DOCTYPE html>
<html>
<head>
  
  <title>Shuriken Live</title>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="description" content="A tool for posting customized FB Live videos for polling purpose.">
    <meta name="keywords" content="Fb,facebook,live,streaming,codingninjas,shuriken,shurikenlive">
    <link rel="shortcut-icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>


<body>

  <nav class="radial-gradient">
      <div class="nav-wrapper container-wide no-pad" id="nav-container">
        <a href="/" class="brand-logo"><img src="/logo1.png" class="logo"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse white-text"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/" class="nav-option center-align">Home</a></li>
          <li><a href="/demo" class="nav-option center-align">Watch Demo</a></li>
          <li>
            <a href="/posts/new" class="btn" style="padding: 0px 15px 0px 10px;"><i class="material-icons relative" style="display: inline-block; bottom: 13px;">videocam
</i><span class="relative" style="left: 5px; bottom: 21px;">New Live Poll</span></a>
          </li>

          <% if user_signed_in? %>
            <li>
              <div class='dropdown-button btn greenish' data-activates='dropdown1' style="max-width : 220px;">  <i class="material-icons relative" style="display: inline-block; bottom: 13px; right: 20px;">perm_identity</i><span class="relative" style="bottom: 19px; right: 7px;"><%=current_user.name.split.first %></span>
              </div>
              <ul id='dropdown1' class='dropdown-content'>
                <li><%= link_to "My Polls", myposts_path%></li>
                <li class="divider"></li>
                <li><a href="/users/sign_out" data-method="DELETE">Log Out</a></li>
              </ul>
            </li>
          <% else %>
            <li><a href="/users/auth/facebook" class="nav-option session_button btn greenish row"><i class="fa fa-facebook-official col s2 relative" aria-hidden="true" style="font-size: 30px; bottom: 14px; right: 30px; "></i><span class="col s9 relative" style="left: 5px;">Log In</span></a></li>
          <% end %>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/">Home</a></li>
          <li><a href="/demo">Watch Demo</a></li>
          <li>
            <a href="/posts/new" class="btn">New Live Poll</a>
          </li>
          <% if user_signed_in? %>
            <li><%= link_to "My Polls", myposts_path%></li>
            <li><a href="/users/sign_out" class="btn greenish" data-method="DELETE">Log Out</a></li>
          <% else %>
            <li><a href="/users/auth/facebook" class="btn greenish">Log In with FB</a></li>
          <% end %>
        </ul>
      </div>
  </nav>
  
  <% unless notice.nil? %>
    <script>
      Materialize.toast('<%=notice%>', 3000) 
    </script>
  <% end %>

   <% unless alert.nil? %>
   <div id= "alert" style="display: none;"><%=alert%></div>
   <script >
     var x = document.getElementById("alert").innerHTML
     alert(x)
   </script>
  <% end %>

<main>
<%= yield %>
</main>

<footer class="page-footer radial-gradient">
    <div class="row">
      <div class="row">
        <div class="col l5 m12 s12">
          <h5 class="white-text bolder">About Us</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project. Any amount would help support and continue development on this project and is greatly appreciated.</p>
        </div>

        <div class="col l2 m4 s6">
          <h5 class="white-text bolder">Developed By</h5>
          <ul>
            <li><a class="white-text" href="https://www.linkedin.com/in/aakash-gupta-876883124">Aakash Gupta</a></li>
            <li><a class="white-text" href="https://www.facebook.com/apoorva.smartgirl">Apoorva Sharma</a></li>
          </ul>
        </div>
        
        <div class="col l2 m4 s6">
          <h5 class="white-text bolder">Guided By</h5>
          <ul>
            <li><a class="white-text" href="https://in.linkedin.com/in/ankushsingla">Ankush Singla</a></li>
            <li><a class="white-text" href="https://in.linkedin.com/in/tushar-tuteja-00350613">Tushar Tuteja</a></li>
          </ul>
        </div>
        <div class="col l3 m4 s12">
          <h5 class="white-text bolder">Contact Us</h5>
          <ul>
            <li class="white-text">
              <i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:aakash@shurikenlive.com" class="white-text">aakash@shurikenlive.com</a>
            </li>
            <li class="white-text">
              <i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:apoorva.11596@gmail.com" class="white-text">apoorva.11596@gmail.com</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container-extrawide">
        © 2017 <span class="bolder">Shuriken Live</span>
        <a class="white-text right" href="/terms" style="margin-left: 20px;">Terms and Conditions</a>
        <a class="white-text right" href="/privacy">Privacy </a>
      </div>
    </div>
  </footer>

<script>

  $( document ).ready(function(){
    $('.parallax').parallax();
    $(".button-collapse").sideNav();
    $('.dropdown-button').dropdown({
      inDuration: 400,
      outDuration: 600,
      constrain_width: true, // Does not change width of dropdown to that of the activator
      hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: true, // Displays dropdown below the button
      alignment: 'left' // Displays dropdown with edge aligned to the left of button
    });
    window.fbAsyncInit = function() {
      FB._https = true;
      FB.init({
        appId      : '241493676272963',
        xfbml      : true,
        version    : 'v2.8'
      });
    };

    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/all.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  })
  
</script>

</body>
</html>
