<!DOCTYPE html>
<html>
<head>
  
  <title>Shuriken Live</title>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="description" content="A tool for posting customized FB Live videos for polling purpose.">
    <meta name="keywords" content="Fb,facebook,live,streaming,codingninjas,shuriken,shurikenlive">
    <link rel="shortcut-icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>


<body>

  <nav>
      <div class="nav-wrapper container no-pad">
        <a href="/" class="brand-logo">Live Poll</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse white-text"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/" class="nav-option center-align">Home</a></li>
          <li><a href="#" class="nav-option center-align">FAQS</a></li>
          <li>
            <a href="/posts/new" class="btn">New Live Poll</a>
          </li>
          <% if user_signed_in? %>
          <li><a href="/users/sign_out" class="session_button nav-option btn green row" data-method="DELETE">Log Out</a></li></li>
          <% else %>
          <li><a href="/users/auth/facebook" class="nav-option session_button btn green row"><i class="fa fa-facebook-official col s2 relative" aria-hidden="true" style="font-size: 30px; bottom: 14px; right: 30px; "></i><span class="col s9 relative" style="left: 5px;">Log In</span></a></li>
          <% end %>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/">Home</a></li>
          <li><a href="#">FAQS</a></li>
          <li>
            <a href="/posts/new" class="btn">New Live Poll</a>
          </li>
          <% if user_signed_in? %>
          <li><a href="/users/sign_out" class="btn green" data-method="DELETE">Log Out</a></li>
          <% else %>
          <li><a href="/users/auth/facebook" class="btn green">Log In with FB</a></li>
          <% end %>
        </ul>
      </div>
  </nav>
  
  <% unless notice.nil? %>
    <div class="notice"><%=notice %></div>
  <% end %>

   <% unless alert.nil? %>
   <div id= "alert" style="display: none;"><%=alert%></div>
   <script >
     var x = document.getElementById("alert").innerHTML
     alert(x)
   </script>
  <% end %>



<%= yield %>


<footer class="page-footer red darken-1">
    <div class="row">
      <div class="row">
        <div class="col l5 s12">
          <h5 class="white-text">About Us</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project. Any amount would help support and continue development on this project and is greatly appreciated.</p>
        </div>

        <div class="col l2 s12">
          <h5 class="white-text">Developed By</h5>
          <ul>
            <li><a class="white-text" href="https://www.linkedin.com/in/aakash-gupta-876883124">Aakash Gupta</a></li>
            <li><a class="white-text" href="https://www.facebook.com/apoorva.smartgirl">Apoorva Sharma</a></li>
          </ul>
        </div>
        
        <div class="col l2 s12">
          <h5 class="white-text">Guided By</h5>
          <ul>
            <li><a class="white-text" href="https://in.linkedin.com/in/ankushsingla">Ankush Singla</a></li>
            <li><a class="white-text" href="https://in.linkedin.com/in/tushar-tuteja-00350613">Tushar Tuteja</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contact Us</h5>
          <ul>
            <li>
              <i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:aakash@shurikenlive.com" class="white-text">aakash@shurikenlive.com</a>
            </li>
            <li>
              <i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:apoorva.11596@gmail.com" class="white-text">apoorva.11596@gmail.com</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright red lighten-1">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://facebook.com/aakashgupta96">Aakash Gupta</a>
      </div>
    </div>
  </footer>

<script>

  $( document ).ready(function(){
    $('.parallax').parallax();
    $(".button-collapse").sideNav();
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '241493676272963',
      xfbml      : true,
      version    : 'v2.8'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
  })
  
</script>

</body>
</html>
