<!DOCTYPE html>
<html lang="en">
<head>
  
  <title>Shuriken Live</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="description" content="A tool for posting customized FB Live videos for polling purpose. We can help you make facebook live polls without using OBS or any other script. Just choose one of the awesome templates that we provide with the support of GIF images and fill some simple details related to your poll, and you are all set to post to your facebook page and boost your reach.">
  <meta name="keywords" content="Fb,facebook,live,streaming,codingninjas,shuriken,shurikenlive,best,obs,script,poll,video,aakash,gupta,templates,GIF,reactions">
  <link rel="shortcut-icon" href="favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.3/jquery-confirm.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.3/jquery-confirm.min.js"></script>
  <script src="https://js.instamojo.com/v1/button.js"></script>

</head>

<body>
  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-103622221-1', 'auto');
    ga('send', 'pageview');
  </script> 
  
  <!--Code for adsense page level ads-->
  <!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-4726706343331157",
      enable_page_level_ads: true
    });
  </script>    
 -->
  <!-- Facebook analytics -->
   <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '241493676272963',
        xfbml      : true,
        version    : 'v2.9'
      });
      FB.AppEvents.logPageView();
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>

  <!-- <div id="cover">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
 -->
  <nav class="radial-gradient">
    <div class="nav-wrapper container-wide no-pad" id="nav-container">
      <a href="/" class="brand-logo"><img src="/assets/logo.png" class="logo"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse white-text"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down bolder">
        <li><a href="/" class="nav-option center-align flexbox"><i class="material-icons">home</i><span class="icon-descriptor">Home</span></a></li>
        <li><a href="/pricing" class="nav-option center-align flexbox"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span class="icon-descriptor">Pricing</span></a></li>
        <li><a href="/faqs" class="nav-option center-align flexbox"><i class="material-icons">info</i><span class="icon-descriptor">FAQ</span></a></li>
        <li><a href="/demo" class="nav-option center-align">Watch Demo</a></li>
        <li style="margin-right: 10px; margin-top: 14px;">
          <div class='dropdown-button waves-effect waves-light btn btn-less-padding flexbox' data-activates='dropdown1' style="flex-wrap: nowrap;">
            <i class="material-icons">videocam</i><span class="icon-descriptor">Plugins<span class="newFeature">New</span></span>
          </div>
            <ul id='dropdown1' class='dropdown-content' style="color: '#6ca4ec';">
              <li><%= link_to "Live Polling", poll_templates_path%></li>
              <li class="divider"></li>
              <li><%= link_to "Stream Video", loop_video_templates_path%></li>
            </ul>
        </li>

        <% if user_signed_in? %>
          <li style="margin-top: 14px;">
            <div class='dropdown-button waves-effect waves-light btn btn-less-padding greenish flexbox' data-activates='dropdown2' style="max-width : 220px; flex-wrap: nowrap;">
              <i class="material-icons">perm_identity</i><span class="icon-descriptor"><%=current_user.name.split.first %></span>
            </div>
            <ul id='dropdown2' class='dropdown-content'>
              <li><%= link_to "Dashboard", dashboard_path%></li>
              <li class="divider"></li>
              <li><a href="/users/sign_out" data-confirm="Are you sure?" data-method="DELETE">Log Out</a></li>
            </ul>
          </li>
        <% else %>
          <li style="margin-top: 16px;">
            <a href="/users/auth/facebook" class="nav-option btn waves-light waves-effect greenish flexbox btn-less-padding" style="flex-wrap: nowrap;">
              <i class="fa fa-facebook-official left" style="font-size: 28px;" aria-hidden="true"></i><span>Log In</span>
            </a>
            <!-- <a href="/users/auth/facebook" class="nav-option session_button waves-effect waves-light btn greenish row">
              <i class="fa fa-facebook-official col s2 relative" aria-hidden="true" style="font-size: 30px; bottom: 14px; right: 30px; "></i>
              <span class="col s9 relative" style="left: 5px;">Log In</span>
            </a> -->
          </li>
        <% end %>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/"><i class="material-icons">home</i><span class="icon-descriptor">Home</span></a></li>
        <li><a href="/pricing"><i class="material-icons">add_shopping_cart</i><span class="icon-descriptor">Pricing</span></a></li>
        <li><a href="/faqs"><i class="material-icons">info</i><span class="icon-descriptor">FAQ</span></a></li>
        <li><a href="/demo"><i class="material-icons">ondemand_video</i><span class="icon-descriptor">Watch Demo</span></a></li>
        <% if user_signed_in? %>
          <li><%= link_to raw("<i class='material-icons'>dashboard</i><span class='icon-descriptor'>Dashboard</span>"), dashboard_path%></li>
        <% end %>
        <li>
          <a href="/polls/templates" class="waves-effect waves-light btn btn-less-padding">Live Polling</a>
          <a href="/loop_videos/templates" class="waves-effect waves-light btn btn-less-padding">Stream Video</a>
        </li>
        <% if user_signed_in? %>
          <li><a href="/users/sign_out" class="waves-effect waves-light btn btn-less-padding greenish" data-confirm="Are you sure?" data-method="DELETE">Log Out</a></li>
        <% else %>
          <li><a href="/users/auth/facebook" class="waves-effect waves-light btn btn-less-padding greenish">Log In with FB</a></li>
        <% end %>
      </ul>
    </div>
  </nav>
  
  <% unless notice.nil? %>
    <script>
      Materialize.toast('<%=notice%>', 5000) 
    </script>
  <% end %>

   <% unless alert.nil? %>
   <div id= "alert" style="display: none;"><%=alert%></div>
   <script >
     $.alert({
          theme: "supervan",
          boxWidth: width,
          useBootstrap: false,
          title: "Alert!",
          content: document.getElementById("alert").innerHTML
        });
   </script>
  <% end %>

<% unless current_user_is_donor? %>
<!-- <div id="donation" class="absolute center-align z-depth-5 linear-gradient padding-5 card">
  <a href="" class="close-button"><i class="fa fa-times relative" aria-hidden="true"></i></a>
  <div class="flexbox">
    <a href="https://www.instamojo.com/@aakashgupta/" rel="im-checkout" data-behaviour="remote" data-style="dark" data-text="Donate Now"></a>
  </div>
  <div class="donation-message relative" style="top: -20px;">For the future development of this project and enjoy <span class="bold">PREMIUM FEATURES.</span><br><a href="/pricing" class="white-text">More Info...</a></div>
</div>
<script>
  if(sessionStorage.donationClosed)
  {
    $("#donation").hide();
  }
  function hideDonation(e){
    $("#donation").hide(500);
    sessionStorage.setItem("donationClosed",true);
    e.preventDefault();
  };
  $(".close-button").click(hideDonation);
</script> -->
<% end %>

<main>
<%= yield %>
</main>

<!-- <center>
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-4726706343331157"
       data-ad-slot="5165773760"
       data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</center>
 --><footer class="page-footer radial-gradient">
    <div class="row">
      <div class="row">
        <div class="col l4 m12 s12 about-us">
          <h5 class="white-text bolder"><i class="fa fa-child" aria-hidden="true"></i><span class="icon-descriptor">About Us</span></h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project. Any donation would help us in paying server charges, hosting bills and continue development on this project and is greatly appreciated. Contact us for more details.</p>
        </div>

        <div class="col l3 m4 s12 flexbox-vertical">
          <h5 class="white-text bolder"><i class="fa fa-gears" aria-hidden="true"></i><span class="icon-descriptor">Developed By</span></h5>
          <ul class="flexbox-vertical">
            <li><a class="white-text" href="https://www.linkedin.com/in/aakash-gupta-876883124">Aakash Gupta</a></li>
            <li><a class="white-text" href="#">Apoorva Sharma</a></li>
          </ul>
        </div>
        
        <div class="col l2 m4 s12 flexbox-vertical">
          <h5 class="white-text bolder"><i class="fa fa-eye" aria-hidden="true"></i><span class="icon-descriptor">Guided By</span></h5>
          <ul class="flexbox-vertical">
            <li><a class="white-text" href="https://in.linkedin.com/in/ankushsingla">Ankush Singla</a></li>
            <li><a class="white-text" href="https://in.linkedin.com/in/tushar-tuteja-00350613">Tushar Tuteja</a></li>
          </ul>
        </div>
        <div class="col l3 m4 s12 flexbox-vertical">
          <h5 class="white-text bolder"><i class="fa fa-phone" aria-hidden="true"></i><span class="icon-descriptor">Contact Us</span></h5>
          <ul>
            <li>
              <button data-target="ask" class="waves-effect waves-light btn modal-trigger">
                <i class="fa fa-question-circle flexbox" aria-hidden="true">
                  <span class="icon-descriptor" style="font-size: 15px;">
                    Ask Question
                  </span>
                </i>
              </button>
              <div id="ask" class="modal grey-text text-darken-2">
                <div class="modal-content">
                  <div class="row">
                  <%= form_tag '/extras/ask_question',id: "question-form", remote: true, class: "col s12" do %>
                      <div class="row zero-margin">
                        <div class="input-field col m6 s12">
                          <i class="material-icons prefix">account_circle</i>
                          <input id="icon_name" type="text" class="validate reset" name="username">
                          <label for="icon_name">Name</label>
                        </div>
                        <div class="input-field col m6 s12">
                          <i class="material-icons prefix">phone</i>
                          <input id="icon_telephone" type="tel" class="validate reset" name="phone">
                          <label for="icon_telephone">Telephone</label>
                        </div>
                      </div>
                      <div class="row zero-margin">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">email</i>
                          <input id="icon_email" type="text" class="validate reset" name="email">
                          <label for="icon_email">Email Id</label>
                        </div>
                      </div>
                      <div class="row zero-margin">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">mode_edit</i>
                          <textarea id="icon_message" type="text" class="materialize-textarea reset" name="message"></textarea>
                          <label for="icon_message">Message</label>
                        </div>
                      </div>
                      <div class="row zero-margin">
                        <%= submit_tag "Submit", class: "btn col s12"%>
                      </div>                     
                    <% end %>
                  </div>
                </div>
              </div>
            </li>
            <!-- <li>
              <i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:aakash@shurikenlive.com" class="white-text">aakash@shurikenlive.com</a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container-extrawide flexbox" style="justify-content: space-between;">
        <div>
          © 2017 <span class="bolder">Shuriken Live</span>
        </div>
        <div>
          <a href="https://facebook.com/shurikenlive" class="white-text" style="margin-left: 10px;"><i class="fa fa-facebook-official" style="font-size: 24px;"><span class="icon-descriptor" style="font-size: 16px;">Follow Us</span></i></a>
        </div>
        <div class="flexbox">
          <a class="white-text hide-on-small-only side-padding-10" href="/terms">Terms and Conditions</a>
          <a class="white-text side-padding-10" href="/privacy">Privacy </a>
        </div>
      </div>
    </div>
  </footer>

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</body>
</html>